<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="CoreProvider" type="eBankit.Common.Sites.CoreProviderConfiguration, eBankit.Common.Sites" allowDefinition="MachineToApplication" />
		<section name="ContactProvider" type="eBankit.Common.Sites.ContactProviderConfiguration, eBankit.Common.Sites" allowDefinition="MachineToApplication" />
		<sectionGroup name="core">
			<section name="CoreConfiguration" type="eBankit.Common.Sites.CoreSitesSettings, eBankit.Common.Sites" allowDefinition="MachineToApplication" />
		</sectionGroup>
		<section name="ProcessManagerProvider" type="eBankit.Common.Providers.Workflow.ProcessManagerProviderConfiguration, eBankit.Common.Providers.Workflow" allowDefinition="Everywhere" />
		<section name="AuthenticationProvider" type="eBankit.Providers.Authentication.AuthenticationProviderConfiguration, eBankit.Common.Sites" allowDefinition="MachineToApplication" />
		<section name="ContractManagementProvider" type="eBankit.Common.Sites.ContractManagementProviderConfiguration, eBankit.Common.Providers.BackOffice" allowDefinition="MachineToApplication" />
		<section name="AlertsProvider" type="eBankit.LIB.Module.Alerts.Provider.AlertsProviderConfiguration, eBankit.LIB.Module.Alerts" allowDefinition="Everywhere" />
		<section name="SocialBankingProvider" type="eBankit.LIB.Module.SocialBanking.Provider.SocialBankingProviderConfiguration, eBankit.LIB.Module.SocialBanking" allowDefinition="Everywhere" />
		<section name="TemplateProcessorProvider" type="eBankit.Middleware.Provider.TemplateProcessor.TemplateProcessorProviderConfiguration, eBankit.Middleware.Provider.TemplateProcessor" allowDefinition="MachineToApplication" />
	</configSections>
	<ContractManagementProvider defaultProvider="FirstProvider">
		<providers>
			<add name="FirstProvider" type="eBankit.Common.Providers.ServicesContractManagementProvider, eBankit.Common.Providers.BackOffice" description="this came from config" />
		</providers>
	</ContractManagementProvider>
	<CoreProvider defaultProvider="FirstProvider">
		<providers>
			<add name="FirstProvider" type="eBankit.Common.Providers.ServicesCoreProvider, eBankit.Common.Providers" description="this came from config" />
		</providers>
	</CoreProvider>
	<ContactProvider defaultProvider="FirstProvider">
		<providers>
			<add name="FirstProvider" type="eBankit.Common.Providers.ServicesContactProvider, eBankit.Common.Providers" description="this came from config" />
		</providers>
	</ContactProvider>
	<ProcessManagerProvider defaultProvider="FirstProvider">
		<providers>
			<add name="FirstProvider" type="eBankit.Common.Providers.ServicesProcessManagerProvider, eBankit.Common.Providers.Workflow" description="this came from config" />
		</providers>
	</ProcessManagerProvider>
	<AuthenticationProvider defaultProvider="FirstProvider">
		<providers>
			<add name="FirstProvider" type="eBankit.Middleware.Providers.Authentication.AuthenticationServiceProvider, eBankit.Middleware.Providers.Authentication" description="this came from config" />
		</providers>
	</AuthenticationProvider>
	<AlertsProvider defaultProvider="FirstProvider">
		<providers>
			<add name="FirstProvider" type="eBankit.LIB.Module.Alerts.Provider.AlertsServicesProvider, eBankit.LIB.Module.Alerts" description="this came from config" />
		</providers>
	</AlertsProvider>
	<SocialBankingProvider defaultProvider="FirstProvider">
		<providers>
			<add name="FirstProvider" type="eBankit.LIB.Module.SocialBanking.Provider.SocialBankingServicesProvider, eBankit.LIB.Module.SocialBanking" description="this came from config" />
		</providers>
	</SocialBankingProvider>
	<TemplateProcessorProvider defaultProvider="FirstProvider">
		<providers>
			<add name="FirstProvider" type="eBankit.Middleware.Provider.TemplateProcessor.TemplateProcessorProvider, eBankit.Middleware.Provider.TemplateProcessor" description="this came from config" />
		</providers>
	</TemplateProcessorProvider>
	<core>
		<CoreConfiguration logFolder="c:\logs\ebankit">
			<!--<profiler mode="LocalOnly"></profiler>-->
			<application appName="INTERNETBANKING" appMode="DEV" title="Ebankit Frontend">
				<externalsignout>
					<item name="SecurityMisys" entity="Misys" type="eBankit.Middleware.Misys.Providers.SecurityMisys, eBankit.Middleware.Misys.Providers" />
				</externalsignout>
				<menus menusPath="/Menus/" fromFile="false">
					<item file="menus" />
				</menus>
				<site translate="true" defaultVariation="pt" rootPath="" logoPath="/Content/images/logo_ebankit_b.png" />
				<resources resourcesPath="/Resources/" fromFile="false">
					<item file="resources" />
				</resources>
			</application>
			<images path="/Content/images/" />
			<email server="mail.itsector.pt" from="geral@ebankit.com" authenticate="true" userName="itsales@itsector.pt" password="007tycoon">
				<!--<mailLogger enabled="true" from="itcore@itsector.pt" to="rui.araujo@itsector.pt" />-->
			</email>
			<exception detailedErrorMessage="false" location="/GenericErrorPage.aspx">
				<ignoreExceptions>
					<exception type="System.Threading.ThreadAbortException" allowOverride="false" />
				</ignoreExceptions>
				<!--<logProviders>
          <provider name="MailLog" type="eBankit.Common.Log.Loggers.MailLogger, eBankit.Common" category="All" minimumSeverity="Warning"/>
          <provider name="ServiceLog" type="eBankit.Common.Log.Loggers.ServiceLogger, eBankit.Common" category="All" minimumSeverity="Info" />
          <provider name="DataBaseLog" type="eBankit.Common.Log.Loggers.DatabaseLogger, eBankit.Common" category="All" minimumSeverity="Info" />
          <provider name="FileLog" type="eBankit.Common.Log.Loggers.FileLogger, eBankit.Common" category="All" minimumSeverity="Info" />
        </logProviders>-->
			</exception>
		</CoreConfiguration>
	</core>
	<appSettings>
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
		<add key="CacheUpdateFileName" value="c:\temp" />

		<add key="usecache" value="true" />
		<add key="cacheAbsoluteExpiration" value="1440" />
		<add key="cacheSlidingExpiration" value="60" />
		<add key="datawaittime" value="2" />
		<add key="resourceApplicationId" value="7" />
		<!-- ENROLLMENT -->
		<add key="Enrollment.IndividualTemplateDocument" value="ebankit_ContratoAdesaoParticular" />
		<add key="Enrollment.IndividualTemplateDocumentIB" value="ebankit_ContratoAdesaoParticularIB" />
		<add key="Enrollment.RequiredDocs" value="1#2#3#4#5#6" />
		<!--configuration to companies-->
		<add key="Enrollment.SubscriptionTransactionListGroup1" value="1231;1233;1230;56;1234;1235" />
		<add key="Enrollment.SubscriptionTransactionListGroup2" value="1231;1233;1230;56;1234;1235" />
		<add key="Enrollment.SubscriptionTransactionListGroup3" value="279;172,21;144;57" />
		<add key="Enrollment.SubscriptionTransactionListGroup4" value="279;-1;144;57" />
		<!--configuration to privates-->
		<add key="Enrollment.SubscriptionTransactionListGroup5" value="1200;1201;1202;1203" />
		<add key="Enrollment.SubscriptionTransactionListGroup6" value="1200;1201;1202;1203" />
		<!-- AUTHENTICATION-->
		<add key="Authentication.Validate.Last.Alias" value="false" />
		<!-- [Optional] Forces multiple credentials to authenticate.
    Default: false-->
		<add key="Authentication.Credentials.ForceMultipleOnLogin" value="false" />
		<!-- ################################################### -->
		<!-- #### Email                                     #### -->
		<!-- ################################################### -->
		<add key="Email.GenerateAliasAccessCode.Module" value="EmailDocument" />
		<add key="Email.GenerateAliasAccessCode.SubjectKey" value="GenerateAliasAccessCodeSubject" />
		<add key="Email.GenerateAliasAccessCode.HeaderKey" value="GenerateAliasAccessCodeHeader" />
		<add key="Email.GenerateAliasAccessCode.FooterKey" value="GenerateAliasAccessCodeFooter" />
		<add key="mailServer" value="outlook.office365.com" />
		<add key="mailServerPort" value="25" />
		<add key="mailTimeout" value="10000" />
		<add key="mailAuthenticate" value="true" />
		<add key="mailFrom" value="notifies@ebankit.com" />
		<add key="mailUser" value="notifies@ebankit.com" />
		<add key="mailPassword" value="sadsadsad" />
		<add key="mailUserDomain" value="" />
		<add key="mailSSL" value="true" />
		<add key="logoPath" value="/services/core/Content/images/logo_ebankit_b.jpg" />
		<add key="eBankit.Services.ContractManagementBaseService" value="http://appcenter.rel70.local/Services/BackOffice/CustomerManagementService.svc" />
	</appSettings>
	<system.web>
		<compilation debug="true" targetFramework="4.8" />
		<identity impersonate="false" />
	</system.web>
	<system.serviceModel>
		<services>
			<service name="eBankit.Middleware.MChannelServices.Authentication" behaviorConfiguration="AuthorizationServiceBehaviour">
				<endpoint address="" binding="webHttpBinding" contract="eBankit.Middleware.MChannelServices.IAuthentication" behaviorConfiguration="CustomAttributeBehavior" />
			</service>
		</services>
		<extensions>
			<behaviorExtensions>
				<add name="Validator" type="eBankit.Common.Authorization.CustomBehaviorSection, eBankit.Common.Authorization, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
			</behaviorExtensions>
		</extensions>
		<behaviors>
			<endpointBehaviors>
				<behavior name="CustomAttributeBehavior">
					<webHttp helpEnabled="true" defaultBodyStyle="Bare" defaultOutgoingResponseFormat="Json" />
					<Validator />
				</behavior>
			</endpointBehaviors>
			<serviceBehaviors>
				<behavior name="AuthorizationServiceBehaviour">
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="true" />
					<serviceAuthorization principalPermissionMode="Custom" serviceAuthorizationManagerType="eBankit.Common.Authorization.JWTServiceAuthorization, eBankit.Common.Authorization">
					</serviceAuthorization>
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
	</system.serviceModel>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true" />
		<!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
		<directoryBrowse enabled="true" />
	</system.webServer>
	<!--<system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="traceListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData="C:\temp\WFTraces.svclog"/>
        </listeners>
      </source>
    </sources>
  </system.diagnostics>-->
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="CacheManager.Core" publicKeyToken="5b450b4fb65c4cdb" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.2.0.0" newVersion="1.2.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Configuration.Abstractions" publicKeyToken="adb9793829ddae60" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.IdentityModel.Tokens" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.3.0.0" newVersion="5.3.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.IdentityModel.Protocols" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.3.0.0" newVersion="5.3.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.3.0.0" newVersion="5.3.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.IdentityModel.Logging" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.3.0.0" newVersion="5.3.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.4.0" newVersion="4.0.4.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Configuration" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>