<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="CoreProvider" type="eBankit.Common.Sites.CoreProviderConfiguration, eBankit.Common.Sites" allowDefinition="MachineToApplication" />
		<sectionGroup name="core">
			<section name="CoreConfiguration" type="eBankit.Common.Sites.CoreSitesSettings, eBankit.Common.Sites" allowDefinition="MachineToApplication" />
		</sectionGroup>

		<!--Seções das campanhas-->
		<section name="PublicCampaignsTransaction" type="System.Configuration.NameValueSectionHandler" />
		<section name="CustomerPrincipalCampaignTransaction" type="System.Configuration.NameValueSectionHandler" />
		<section name="CustomerCampaignsTransaction" type="System.Configuration.NameValueSectionHandler" />

		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
	</configSections>
	<connectionStrings>

	</connectionStrings>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="mssqllocaldb" />
			</parameters>
		</defaultConnectionFactory>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
	<CoreProvider defaultProvider="FirstProvider">
		<providers>
			<add name="FirstProvider" type="eBankit.Common.Providers.ServicesCoreProvider, eBankit.Common.Providers" description="this came from config" />
		</providers>
	</CoreProvider>
	<appSettings>
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
		<add key="TransactionRecoveryModeSimulation" value="true" />
		<add key="URL" value="http://itsserver-teste/MarketingDNA/XRMServices/2011/Organization.svc" />
		<add key="User" value="ITSECTOR\crm01" />
		<add key="Password" value="pass@word1" />
		<add key="AuthType" value="2" />
		<add key="Domain" value="" />
		<add key="MasterUser" value="BD99FD55-6DD4-E311-93F3-00155D104501" />
		<add key="customerDummy" value="11115" />
		<add key="resourceApplicationId" value="7" />
		<add key="usecache" value="true" />
		<add key="cacheAbsoluteExpiration" value="5" />
		<add key="cacheSlidingExpiration" value="60" />
		<add key="datawaittime" value="2" />
		<add key="CacheUpdateFileName" value="" />
		<!--None = 0,ActiveDirectory = 1,Federation = 2,LiveId = 3,OnlineFederation = 4-->
	</appSettings>

	<CustomerPrincipalCampaignTransaction>
		<add key="0" value="CMP-01001-X2Z1F6" />
	</CustomerPrincipalCampaignTransaction>


	<CustomerCampaignsTransaction>
		<add key="0" value="DashboardMainCampaign2" />
		<add key="1" value="DashboardMainCampaign" />
		<add key="2" value="DashboardMainCampaign3" />
		<add key="3" value="DashboardMainCampaign4" />
	</CustomerCampaignsTransaction>

	<PublicCampaignsTransaction>
		<add key="0" value="002" />
		<add key="1" value="001" />
		<add key="2" value="003" />
	</PublicCampaignsTransaction>
	<system.web>
		<compilation debug="true" targetFramework="4.8" />
		<sessionState mode="InProc" />
	</system.web>
	<system.serviceModel>
		<behaviors>
			<serviceBehaviors>
				<behavior>
					<!-- To avoid disclosing metadata information, set the values below to false before deployment -->
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
					<!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<protocolMapping>
			<add binding="basicHttpsBinding" scheme="https" />
		</protocolMapping>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
	</system.serviceModel>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true" />
		<!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
		<directoryBrowse enabled="true" />
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="CacheManager.Core" publicKeyToken="5b450b4fb65c4cdb" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.2.0.0" newVersion="1.2.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Configuration.Abstractions" publicKeyToken="adb9793829ddae60" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Configuration" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>