<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
      -->
	<connectionStrings>
		<add name="EbankitMonitoringConnectionString"  connectionString="__constring.EbankitMonitoring__"      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
	</connectionStrings>

	<system.web>
		<machineKey  decryption="AES"  decryptionKey="4ED538405B7BE775C6835D27659121D943418A650F0D3944"  validation="HMACSHA256" validationKey="7F594215DAE92EAB4B7D1D02DA4DAECD44870B66C7CFDA5911666B8B9485F495A31654C593B5716820B05332A052925CDC47ACD394C69F1FE077E42F49296F67" xdt:Transform="Insert"/>
		<customErrors mode="RemoteOnly" defaultRedirect="/GenericErrorPage.aspx" xdt:Transform="SetAttributes(mode)"/>
		<authentication mode="Forms" xdt:Transform="Replace">
			<forms name=".ASPXFORMSAUTH" cookieless="UseCookies" loginUrl="~/signin.aspx" requireSSL="true" protection="All" path="/" timeout="2880" />
		</authentication>
		<httpCookies httpOnlyCookies="true" requireSSL="true" xdt:Transform="Replace"/>
		<compilation xdt:Transform="RemoveAttributes(debug)" />
		<sessionState mode="Custom" customProvider="SqlInMemoryProvider" >
			<providers>
				<add name="SqlInMemoryProvider" type="Microsoft.Web.SessionState.SqlInMemoryProvider" connectionString="__constring.EbankitSessionManagerIB__" xdt:Transform="SetAttributes"/>
			</providers>
		</sessionState>
		<healthMonitoring enabled="true" heartbeatInterval="5" xdt:Transform="Replace">
			<providers>
				<add name="MonitoringBufferedEventProvider" type="eBankit.Common.Instrumentation.Log.MonitoringBufferedEventProvider,eBankit.Common" buffer="false"
					 bufferMode="EbankitBufferConfiguration" connector="eBankit.LIB.Logging.Sql.SqlLogConnector,eBankit.LIB.Logging.Sql" commandTimeout="0" requestFilteringEnabled="true" isBlocklist="true" />
			</providers>
			<bufferModes>
				<add name="EbankitBufferConfiguration" maxBufferSize="1000000" maxFlushSize="20000" urgentFlushThreshold="50000" regularFlushInterval="00:00:30" urgentFlushInterval="00:00:15" maxBufferThreads="10" />
			</bufferModes>
			<profiles>
				<add name="EbankitProfile" minInstances="1" maxLimit="Infinite" minInterval="00:00:00" />
			</profiles>
			<rules>
				<add name="EbankitRules" eventName="EbankitEventMapping" provider="MonitoringBufferedEventProvider" profile="EbankitProfile" />
			</rules>
			<eventMappings>
				<add name="EbankitEventMapping" type="System.Web.Management.WebBaseEvent,System.Web,Version=2.0.0.0,Culture=neutral,PublicKeyToken=b03f5f7f11d50a3a" startEventCode="100015" endEventCode="100050" />
			</eventMappings>
		</healthMonitoring>
	</system.web>
	<appSettings>
		<add  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  key="DBConnectionString" value="__constring.EbankitDNA__" />
		<add  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  key="eBankit.Services.CoreBaseService" value="__appsettings.eBankit.Services.CoreService__" />
		<add  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  key="eBankit.Services.ContactBaseService" value="__appsettings.eBankit.Services.ContactService__" />
		<add  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  key="eBankit.Services.ContentBaseService" value="__appsettings.eBankit.Services.ContentService__" />
		<add  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  key="eBankit.Services.GenericContentBaseService" value="__appsettings.eBankit.Services.GenericContentService__" />
		<add  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  key="eBankit.Services.CRMBaseService" value="__appsettings.eBankit.Services.CRMBaseService__" />
		<add  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  key="eBankit.Services.MarketingService" value="__appsettings.eBankit.Services.MarketingService__" />
		<add  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  key="eBankit.Services.Transactions.PS2" value="__appsettings.eBankit.Services.Transactions.PS2__" />
		<add  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  key="eBankit.Services.Transactions.MozaBus" value="__appsettings.eBankit.Services.Transactions.MozaBus__" />
		<add  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  key="eBankit.Middleware.EbankitServices.EbankitService" value="__appsettings.eBankit.Services.EbankitService__" />
		<add  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  key="eBankit.Middleware.MChannelServices.Authentication" value="__appsettings.eBankit.MChannelServices.Authentication__" />
		<add  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  key="eBankit.Middleware.MChannelServices.AuthenticationJson" value="__appsettings.eBankit.MChannelServices.AuthenticationJson__" />
		<add  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  key="eBankit.Middleware.MChannelServices.OnlineRegistration" value="__appsettings.eBankit.MChannelServices.OnlineRegistration__" />
		<add  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  key="eBankit.Services.Helpdesk.HelpdeskService" value="__appsettings.eBankit.Services.HelpdeskService__" />
		<add  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  key="root" value="http://localhost:7700" />
		<add  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  key="publishingDocumentsUrl" value="__appsettings.publishingDocumentsUrl__/SiteCollectionDocuments/{0}/internetbanking/Transversais/" />
		<add  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  key="eBankit.Services.WorkflowService" value="__appsettings.eBankit.Services.WorkflowService__" />
		<add  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  key="eBankit.Services.WorkflowServiceRest" value="__appsettings.eBankit.Services.WorkflowServiceRest__" />
		<add  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  key="eBankit.Services.AccountOpening.AccountOpeningService" value="__appsettings.eBankit.Services.AccountOpeningService__" />
		<add  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  key="eBankit.Services.AlertsService" value="__appsettings.eBankit.Services.AlertsService__" />
		<add  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  key="eBankit.Services.Middleware.WebApi" value="__appsettings.eBankit.Services.Middleware.WebApi__" />
		<add  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  key="Identity.TokenAuthorityUrl" value="__appsettings.Identity.TokenAuthorityUrl__" />
		<add  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  key="Identity.RequireHTTPS" value="true" />
		<add  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  key="Identity.RedirectUri" value="__AppSettings.eBankit.Fronts.InternetBankingForms__" />
		<add  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  key="MultiUserContract.External.Provider" value="__AppSettings.MultiUserContract.External.Provider__" />
		<add  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  key="OnlineRegistration.MainPackages" value="__appsettings.OnlineRegistration.MainPackages__" />
		<add  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  key="UseExternalResourcesUrl" value="__UseExternalResourcesUrl__" />
		<add  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  key="ExternalResourcesUrl" value="__ExternalResourcesUrl__" />
		<add  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  key="eBankit.Services.UrlApiSettings" value="__appsettings.Environment.eBankit.Services.UrlApiSettings__" />
		<add  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  key="DATE.Format" value="__appsettings.Environment.DateFormats__" />
		<add  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  key="OnlineRegistration.AutomaticApproval" value="true" />
		<add  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  key="eBankit.Services.ProductSubscription" value="__appsettings.eBankit.Services.ProductSubscription__" />
		<add  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  key="eBankit.Services.AccountOpening.AccountOpeningService" value="__appsettings.eBankit.Services.AccountOpeningService__" />
		<add  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  key="IdentityServerAuthentication.Enabled" value="__appsettings.IdentityServerAuthentication.Enabled__" />
		<add  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  key="eBankit.JsonSessionConnectionString"  value="__appsettings.eBankit.JsonSessionConnectionString__"                                    />
		<add  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  key="eBankit.Services.UrlApiSettings"      value="__appsettings.eBankit.Services.UrlApiSettings__"                                         />
		<add  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  key="eBankit.Services.UrlApiUserEngagementHub" value="__appsettings.eBankit.Services.UrlApiUserEngagementHub__"                                         />
		<add  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  key="eBankit.Services.OpenBankingConnect" value="__appsettings.eBankit.Services.OpenBankingConnect__" />
		<add  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  key="Monitoring.Logging.FirstChanceException" value="__AppSettings.Monitoring.Logging.FirstChanceException__" />
	</appSettings>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding xdt:Transform="Replace">
				<binding name="WCFServiceBinding" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="9999524288" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="999916384" maxBytesPerRead="999916384" maxNameTableCharCount="999916384" />
					<security mode="Transport">
					</security>
				</binding>
				<binding name="BasicHttpBinding_IHelpdeskService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="524288999" maxBufferPoolSize="524288999" maxReceivedMessageSize="524288999" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="819299" maxArrayLength="1638499" maxBytesPerRead="409699" maxNameTableCharCount="1638499" />
					<security mode="Transport">
					</security>
				</binding>
			</basicHttpBinding>
		</bindings>
	</system.serviceModel>
	<system.webServer>
		<httpProtocol xdt:Transform="Replace">
			<customHeaders>
				<remove name="X-AspNet-Version" />
				<remove name="X-Powered-By" />
				<add name="Cache-Control" value="public" />
				<remove name="X-Frame-Options" />
				<add name="X-Frame-Options" value="sameorigin" />
				<remove name="X-Xss-Protection" />
				<add name="X-Xss-Protection" value="1; mode=block" />
				<add name="X-Content-Type-Options" value="nosniff" />
				<add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains; preload" />
				<add name="Public-Key-Pins" value="pin-sha256=&quot;EIe9Thz7/pqgeO6AgQ4YXl2AhulP6TF8MGV2PR9wMZg=&quot;; pin-sha256=&quot;oetf0W9+BwLvYTWa8x+o3v8/xItw1AfweZQZYJjtpLg=&quot;; max-age=5184000; includeSubDomains; " />
				<remove name="Content-Security-Policy" />
				<add name="Content-Security-Policy" value="frame-src 'self'" />
				<add name="Referrer-Policy" value="same-origin" />
				<add name="X-Powered-By" value="ebankIT | Omnichannel Innovation" />
				<remove name="Content-Security-Policy" />
				<add name="Content-Security-Policy" value="script-src 'self' 'unsafe-inline' 'unsafe-eval'; object-src 'self'" />
			</customHeaders>
		</httpProtocol>
		<security>
			<requestFiltering allowDoubleEscaping="false" xdt:Transform="SetAttributes(allowDoubleEscaping)">
				<verbs xdt:Transform="Insert">
					<add verb="TRACE" allowed="false"/>
				</verbs>
			</requestFiltering>
		</security>
		<httpRedirect enabled="false" destination="__appsettings.eBankit.Fronts.IB__" httpResponseStatus="Permanent" xdt:Transform="Insert"/>
		<rewrite xdt:Transform="InsertIfMissing">
			<rules>
				<rule name="HTTP to HTTPS" stopProcessing="true">
					<match url="(.*)" />
					<conditions>
						<add input="{HTTPS}" pattern="^OFF$" />
					</conditions>
					<action type="Redirect" url="https://{HTTP_HOST}/{R:1}" />
				</rule>
			</rules>
			<outboundRules>
				<rule name="Add SameSite" preCondition="No SameSite">
					<match serverVariable="RESPONSE_Set_Cookie" pattern=".*" negate="false" />
					<action type="Rewrite" value="{R:0}; SameSite=strict" />
					<conditions>
					</conditions>
				</rule>
				<preConditions>
					<preCondition name="No SameSite">
						<add input="{RESPONSE_Set_Cookie}" pattern="." />
						<add input="{RESPONSE_Set_Cookie}" pattern="; SameSite=strict" negate="true" />
						<add input="{RESPONSE_Set_Cookie}" pattern="OpenIdConnect.nonce" negate="true" />
						<add input="{RESPONSE_Set_Cookie}" pattern="__AntiXsrfToken" />
						<add input="{RESPONSE_Set_Cookie}" pattern="ShowCookieBar" negate="true" />
					</preCondition>
				</preConditions>
			</outboundRules>
		</rewrite>
	</system.webServer>
</configuration>