<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <connectionStrings>
    <add name="eBankit.Middleware.MonitorWebServer.Properties.Settings.EbankitProbesConnectionString" connectionString="Data Source=ebksrv-sql07.ebankit.local\dev;Initial Catalog=master_EbankitProbes;Persist Security Info=True;User ID=ebankituser;Password=ebankitpass" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="UseDataBase" value="true" />
    <add key="FilePath" value="C:\MonitorWebServer\Configuration\" />
    <add key="BackupsToSave" value="30" />


    <add key="mailServer" value="outlook.office365.com" />
    <add key="mailServerPort" value="25" />
    <add key="mailTimeout" value="10000" />
    <add key="mailAuthenticate" value="true" />
    <add key="mailFrom" value="notifies@ebankit.com" />
    <add key="mailUser" value="notifies@ebankit.com" />
    <add key="mailPassword" value="sadsadsad" />
    <add key="mailUserDomain" value="" />
    <add key="mailSSL" value="true" />
    <add key="logoPath" value="/services/core/Content/images/logo_ebankit_b.jpg" />
  </appSettings>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior>
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <services>
      <service name="eBankit.Middleware.MonitorWebServer.MonitorWCF">
        <endpoint address="" binding="webHttpBinding" contract="eBankit.Middleware.MonitorWebServer.IMonitorWCF">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/eBankit.Middleware.MonitorWebServer/MonitorWCF/" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
  <log4net>
    <logger name="GeralLog" additivity="false">
      <appender name="GeralLog" type="log4net.Appender.RollingFileAppender">
        <file type="log4net.Util.PatternString" value="C:\MonitorWebServer\Logs\Logs_General\log_%date{yyyyMMdd}.log" />
        <appendToFile value="true" />
        <rollingStyle value="Date" />
        <datePattern value="yyyyMMdd" />
        <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%date{yyyy-MM-dd HH:mm:ss}, %level, %message%newline" />
        </layout>
        <filter type="log4net.Filter.LevelRangeFilter">
          <levelMin value="INFO" />
          <levelMax value="FATAL" />
        </filter>
      </appender>
    </logger>
    <logger name="ProbeLog" additivity="false">
      <appender name="ProbeLog" type="log4net.Appender.RollingFileAppender">
        <file type="log4net.Util.PatternString" value="C:\MonitorWebServer\Logs\Logs_Probe\log_%date{yyyyMMdd}.log" />
        <appendToFile value="true" />
        <rollingStyle value="Date" />
        <datePattern value="yyyyMMdd" />
        <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%date{yyyy-MM-dd HH:mm:ss},%message%newline" />
        </layout>
      </appender>
    </logger>
    <logger name="ActionLog" additivity="false">
      <appender name="ActionLog" type="log4net.Appender.RollingFileAppender">
        <file type="log4net.Util.PatternString" value="C:\MonitorWebServer\Logs\Logs_Action\log_%date{yyyyMMdd}.log" />
        <appendToFile value="true" />
        <rollingStyle value="Date" />
        <datePattern value="yyyyMMdd" />
        <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%date{yyyy-MM-dd HH:mm:ss},%message%newline" />
        </layout>
      </appender>
    </logger>
    <root>
      <level value="ALL" />
      <appender-ref ref="FileAppender" />
    </root>
  </log4net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CacheManager.Core" publicKeyToken="5b450b4fb65c4cdb" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.0" newVersion="1.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
		<dependentAssembly>
			<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
			<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
		</dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.3.0" newVersion="4.1.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" /></startup></configuration>
