<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<connectionStrings>
		<add name="umbracoDbDSN"  connectionString="__constring.EbankitPortalPublic__"  providerName="System.Data.SqlClient"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
		<add name="eBankit.Middleware.Data.EBankit.Properties.Settings.EbankitCoreBankingConnectionString"  connectionString="__constring.EbankitCoreBanking__" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
	</connectionStrings>
	<system.web>
	  <machineKey  decryption="AES"  decryptionKey="4ED538405B7BE775C6835D27659121D943418A650F0D3944"  validation="HMACSHA256" validationKey="7F594215DAE92EAB4B7D1D02DA4DAECD44870B66C7CFDA5911666B8B9485F495A31654C593B5716820B05332A052925CDC47ACD394C69F1FE077E42F49296F67" xdt:Transform="Replace"/>
		<compilation xdt:Transform="RemoveAttributes(debug)" />
    <authentication mode="Forms" xdt:Transform="Replace">
      <forms name="yourAuthCookie" cookieless="UseCookies" loginUrl="login.aspx" requireSSL="true" protection="All" path="/" timeout="2880"/>
    </authentication>
		<sessionState mode="Custom" customProvider="SqlInMemoryProvider" sessionIDManagerType="eBankit.Common.Session.CoreSessionIDManager">
			<providers>
				<add name="SqlInMemoryProvider" type="Microsoft.Web.SessionState.SqlInMemoryProvider" connectionString="__constring.EbankitSessionManagerUmbraco__" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
			</providers>
		</sessionState>
		<httpCookies httpOnlyCookies="true" requireSSL="true" xdt:Transform="Insert"/>
	</system.web>
  <system.webServer>
    <security>
      <requestFiltering allowDoubleEscaping="false" xdt:Transform="SetAttributes(allowDoubleEscaping)">
        <verbs xdt:Transform="Insert">
          <add verb="TRACE" allowed="false" />
        </verbs>
      </requestFiltering>
    </security>
  </system.webServer>
	<appSettings>
		<add key="ebankIT_IBLink"         value="__appsettings.eBankit.Fronts.IB__/signin.aspx"                      xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ebankIT_OnboardingLink" value="__appsettings.eBankit.Fronts.IB__/Modules/Subscription/Register.aspx?redirect=Portal" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
	</appSettings>
	<system.serviceModel>
		<client>
			<endpoint address="__appsettings.eBankit.Services.EbankitService__" binding="basicHttpBinding" bindingConfiguration="WCFServiceBinding" contract="EbankitService.IEbankitService" name="BasicHttpBinding_IEbankitService" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
		</client>
		<bindings>
			<basicHttpBinding>
				<binding name="WCFServiceBinding" maxBufferSize="999916384" maxReceivedMessageSize="999916384" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="9999524288" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="999916384" maxArrayLength="999916384" maxBytesPerRead="999916384" maxNameTableCharCount="999916384" />
				</binding>
			</basicHttpBinding>
		</bindings>
	</system.serviceModel>
</configuration>