<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <httpHandlers>
      <add verb="*" path="smssimula" type="WebserviceSimulation.IISHandler1, WebserviceSimulation" />
      <add verb="*" path="webservicesimula" type="WebserviceSimulation.IISHandler1, WebserviceSimulation" />
    </httpHandlers>
	<customErrors mode="Off"/>
  </system.web>
  <connectionStrings>
    <add name="WebserviceSimulationConnectionString" connectionString="Data Source=EBKNTBOOK-0850\LOCALDB;Persist Security Info=True;User ID=sa;Password=Portofc1997_;Initial Catalog=rel70_EbankitWebSimulation;Persist Security Info=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="smssimulator.aspx" />
            </files>
        </defaultDocument>
    </system.webServer>
  
</configuration>



