.transaction-content .table-resp-to1199 {
  overflow: visible !important;
}
.transaction-content .table td {
  overflow: visible !important;
}
.transaction-content .table td .btn-expandable {
  background-image: url("../../images/icon/ico_plus_small.png");
  width: 30px;
  height: 30px;
}
.transaction-content .table td .dropdown-menu-grid {
  z-index: 9;
}
.transaction-content .table td:last-child {
  min-height: 40px;
}
.labelLock:hover {
  background-image: url("../../images/icon/action/action_credentials_lock_hover.png");
  width: 30px;
  height: 30px;
}
.labelUnLock:hover {
  background-image: url("../../images/icon/action/action_credentials_unlock_hover.png");
  width: 30px;
  height: 30px;
}
.lkbLockCredential {
  display: inline-block;
  padding: 2px;
}
.lkbLockCredential p {
  margin: 0;
}
.lkbLockCredential:focus .labelLock {
  background-image: url("../../images/icon/action/action_credentials_lock_hover.png");
  width: 30px;
  height: 30px;
}
.lkbLockCredential:focus .labelUnLock {
  background-image: url("../../images/icon/action/action_credentials_unlock_hover.png");
  width: 30px;
  height: 30px;
}