.img-info {
  background-image: url('../../images/icon/ico-tooltip.png') !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  display: inline-block;
  padding: 0px 7px 0px 8px;
  height: 20px;
}
.chkPendingValue {
  margin-left: 50%;
  font-weight: 100;
  color: #444;
  font-size: 17px;
  font-family: 'Open Sans light';
}