.infoArticleMessage {
  font-size: 16px;
  font-weight: bold;
}
.reasonsTitle {
  font-weight: bold;
}
.infoArticleMessage {
  font-size: 16px;
  font-weight: bold;
  margin-top: 20px;
}
.wrapperDeleteData {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 50px;
  background-color: white;
}
.requestMessageTitle {
  color: #58595B;
  font-weight: bold;
}
.requestMessageDescription {
  color: #58595B;
}
.reasonsWrapper {
  margin-top: 25px !important;
}
.reasonsWrapper .reasonsTitle {
  font-size: 16px;
  font-weight: bold;
}
.row-reason-wrapper {
  background-color: #fff;
  border: 1px solid #E2E2E2;
  padding: 20px 15px 10px 15px;
  margin-top: 15px;
  color: #555555;
}
.row-reason-wrapper.reason-error {
  border: 1px solid #d24627;
}
.errorHidden {
  display: none;
  color: #d24627;
}
.big-radioButton input:focus + label span:first-child {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: 2px;
}