.LastTransAlignLeft {
  text-transform: none !important;
  text-align: right !important;
  float: right !important;
  width: auto !important;
}
.LastTransViewMore {
  text-transform: none !important;
  text-align: right !important;
  float: right !important;
  font-size: 11px !important;
  width: auto !important;
  padding: 10px 10px 0px 0px;
}
.LastTransDate {
  font-size: 10px !important;
  display: inline-block;
  position: absolute;
  margin-top: -25px !important;
  left: 10px;
  color: #009999 !important;
}
.LastTransBalance {
  font-size: 13px !important;
  font-weight: bold !important;
  display: inline-block;
  position: absolute;
  margin-top: 0px !important;
  left: 10px;
}
.LastTransCurrency {
  font-size: 10px !important;
  display: inline-block;
  position: absolute;
  margin-top: -12px !important;
  left: 10px;
}
.LastTransAlwaysVisible {
  white-space: normal !important;
  height: 40px !important;
}
.scrollContainerAccountsCorp {
  padding: 20px;
  background-color: #eeeeee;
  height: 240px;
  margin-bottom: 40px;
}
#scroolContentCorporate {
  height: 200px;
  position: relative;
  display: block;
  overflow: hidden !important;
}
#scroolContentCorporate .contentBoxCorporate {
  background-color: #fff;
  position: relative;
  float: right;
  display: block;
  height: 52px;
  width: 48%;
  padding: 10px;
  margin: 7px !important;
  /* If you don't want the images in the scroller to be selectable, try the following
            block of code. It's just a nice feature that prevent the images from
            accidentally becoming selected/inverted when the user interacts with the scroller. */
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
#scroolContentCorporate .contentBoxCorporate img {
  margin-bottom: 10px;
}
#scroolContentCorporate .contentBoxCorporate p {
  font-size: 10px;
}