.textbox-available .centerField-wrapper {
  float: right;
  width: 70%;
  margin-left: -100%;
  padding-right: 300px !important;
}
.textbox-available .available-icon {
  background: url('../images/icon/ico_success.png') no-repeat scroll 0 center transparent;
  background-size: 30px;
  padding: 8px 290px 0 40px;
  height: 36px;
  width: 200px;
  display: block;
  position: absolute;
  right: 0;
  white-space: nowrap;
}
.textbox-available .not-available-icon {
  background: url('../images/icon/ico_error.png') no-repeat scroll 0 center transparent;
  background-size: 30px;
  padding: 8px 290px 0 40px;
  height: 36px;
  width: 200px;
  display: block;
  position: absolute;
  right: 0;
  white-space: nowrap;
}