.alertMessagePending {
  background-color: #EA9949;
  color: white;
  padding-left: 30px !important;
  top: 50%;
}
.divContentMessagesPending {
  border: 1px solid #eee !important;
  margin-top: 1%;
  padding: 15px 0px;
}
.divContentMessagesPending > div {
  padding: 1% 30px 1% 30px;
}
.divContentMessagesPending > div > span:first-of-type {
  line-height: 22px;
}
.divContentMessagesPending > div > span:nth-of-type(2) {
  display: block;
  color: #555555;
  line-height: 22px;
  padding-top: 10px;
}
.divContentMessagesPending > div > table {
  margin-top: 34px;
}
.divContentMessagesPending > div > table > tbody > tr > td:nth-of-type(2) > span {
  color: #555555;
}
.checkbox-pending label,
label.checkbox-pending {
  cursor: pointer;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  font-weight: 300;
  margin-bottom: 0;
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  max-height: 40px;
  padding-right: 15px;
}
.checkbox-pending label > input,
label.checkbox-pending > input {
  visibility: hidden;
  position: absolute;
}
.checkbox-pending label > .box-check,
label.checkbox-pending > .box-check {
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  border-radius: 2px;
  box-shadow: inset 0 0 0 15px #fff;
  border: 1px solid #7f7f7f;
  background-color: #fff;
}
.checkbox-pending label > input[type="checkbox"]:checked ~ .box-check,
label.checkbox-pending > input[type="checkbox"]:checked ~ .box-check {
  box-shadow: inset 0 0 0 5px transparent;
  background: url('../images/icon/ic_generic_combo_checked.png') no-repeat scroll center center transparent;
}
.lblPrimaryMessagePending {
  color: #009999;
}
.img-info {
  background-image: url('../images/icon/ico-tooltip.png') !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  display: inline-block;
  padding: 0px 7px 0px 8px;
  height: 20px;
}
.panel-heading-edit {
  background-color: #FBB040 !important;
}
.account-wrapper.item {
  min-height: 70px;
  border-bottom: 1px solid #eee;
}
.account-subtitle-header {
  color: #0173a7;
  /* border: solid 1px #ddd; */
  padding: 40px 0px 10px;
  top: 0px;
  /* height: 50px; */
  font-size: 17px;
  font-family: "Gotham Book", "Open Sans", "Arial", "sans-serif";
  padding-top: 0;
}
.container-accounts .account-header {
  padding-bottom: 25px;
  height: 35px;
  position: relative;
  display: inline-block;
  width: 100%;
  margin-bottom: 25px;
}
.headerBreakSpace {
  white-space: break-spaces !important;
}
.custom-muc-chk {
  position: relative;
  display: inline-block;
}
.checkbox-description {
  margin-left: 0px !important;
}
.width100percent {
  width: 100%;
}
.without-line-top {
  border-top: none;
}
.edit-title {
  color: black !important;
}
.step-info-content {
  width: 70%;
  display: flow-root;
}
.grayContainer {
  background: #fff;
}
.img-icon-kyc {
  width: 170px !important;
  height: 100% !important;
}
.trs_buttons-action {
  text-align: center;
}
div#topmenu {
  pointer-events: none;
  opacity: 0.4;
}
div#Container1_divCartCount {
  pointer-events: none;
  opacity: 0.4;
}
a#MainContent_TransactionMainContent_btVerify {
  margin: 15px !important;
}
a#MainContent_TransactionMainContent_btRemind {
  margin: 15px !important;
}
a#MainContent_TransactionMainContent_btLogOut {
  margin: 15px !important;
}