@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

<div class="col-xs-12 col-sm-4 col-4-override col-4-margin">
    <div class="productTitle">Accounts</div>
    <div class="productImg centerBlock">
        <img src="http://placehold.it/310x200" class="img-responsive">
    </div>
    <div class="productBox st centerBlock">
        <div class="productName">Product Name</div>
        <div class="productDesc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eros ipsum, tempor ac turpis eu, congue effictur ex. Nulla enim elit,</div>
    </div>
</div>
<div class="col-xs-12 col-sm-4 col-4-override col-4-margin">
    <div class="productTitle">Savings</div>
    <div class="productImg centerBlock">
        <img src="http://placehold.it/310x200" class="img-responsive">
    </div>
    <div class="productBox nd centerBlock">
        <div class="productName">Product Name</div>
        <div class="productDesc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eros ipsum, tempor ac turpis eu, congue effictur ex. Nulla enim elit,</div>
    </div>
</div>
<div class="col-xs-12 col-sm-4 col-4-override">
    <div class="productTitle">Personal Loan</div>
    <div class="productImg centerBlock">
        <img src="http://placehold.it/310x200" class="img-responsive">
    </div>
    <div class="productBox rd centerBlock">
        <div class="productName">Product Name</div>
        <div class="productDesc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eros ipsum, tempor ac turpis eu, congue effictur ex. Nulla enim elit,</div>
    </div>
</div>