<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator
    finds an attribute "name" that has a value of "MyDB".

    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>

  <appSettings>
    <add key="ContactCenterEndpoint" value="http://qa-contactcenter.ebankit.local/"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ServicesEndpoint" value="http://qa-services.ebankit.local/"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    
    <add key="eBankit.Services.CoreBaseService" value="http://qa-ebankit-appcenter.ebankit.local/Services/Core/CoreService.svc"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>    
    <add key="eBankit.Services.SecurityCenterAdmin.Url" value="http://qa-ebankit-appcenter.ebankit.local/Services/Administration/SecurityCenterAdmin.svc"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="eBankit.Services.SecurityCenterAdmin.Binding" value="BasicHttpBinding_ICoreService" />
    <add key="eBankit.Services.ContractManagementBaseService" value="http://qa-ebankit-appcenter.ebankit.local/Services/BackOffice/CustomerManagementService.svc"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="eBankit.Services.CustomerService" value="http://qa-ebankit-appcenter.ebankit.local/Services/Misys/EquationService.svc"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="eBankit.Middleware.EbankitServices.EbankitService" value="http://qa-ebankit-appcenter.ebankit.local/Services/Ebankit/EbankitService.svc"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="eBankit.Services.CorporateManagementService" value="http://qa-ebankit-appcenter.ebankit.local/Services/BackOffice/CorporateManagementService.svc"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="eBankit.Services.BackofficeService" value="http://qa-ebankit-appcenter.ebankit.local/Services/BackOffice/BackOffice.svc"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="eBankit.Services.ContactHistory" value="http://qa-ebankit-appcenter.ebankit.local/Services/SecurityCenter/ContactHistory.asmx"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="eBankit.Services.AliasOperation" value="http://qa-ebankit-appcenter.ebankit.local/Services/SecurityCenter/AliasOperation.asmx"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="eBankit.Services.AliasAuthorization" value="http://qa-ebankit-appcenter.ebankit.local/Services/SecurityCenter/AliasAuthorization.asmx"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="eBankit.Services.AliasAuthentication" value="http://qa-ebankit-appcenter.ebankit.local/Services/SecurityCenter/AliasAuthentication.asmx"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="eBankit.Services.AliasBackoffice" value="http://qa-ebankit-appcenter.ebankit.local/Services/SecurityCenter/BackOffice.asmx"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="eBankit.Services.AliasManagement" value="http://qa-ebankit-appcenter.ebankit.local/Services/SecurityCenter/AliasManagement.asmx"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <connectionStrings>
    <add name="eBankit.Middleware.Data.Core.Properties.Settings.EbankitMonitoringConnectionString"
      connectionString="Data Source=ebkitsrv-sql05.ebankit.local\QLDPRDMAIN;Initial Catalog=rel40_EbankitMonitoring;Persist Security Info=True;User ID=ebankituser;Password=ebankitpass"
      providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="EbankitMonitoringConnectionString"
      connectionString="Data Source=ebkitsrv-sql05.ebankit.local\QLDPRDMAIN;Initial Catalog=rel40_EbankitMonitoring;Persist Security Info=True;User ID=ebankituser;Password=ebankitpass"
      providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <system.serviceModel>
    <client>

      <endpoint address="http://qa-ebankit-appcenter.ebankit.local/Services/SecurityCenter/UserRegistration.asmx" binding="basicHttpBinding" bindingConfiguration="SecurityCenter" contract="UserRegistration.UserRegistrationSoap" name="UserRegistrationSoap"   xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      <endpoint address="http://qa-ebankit-appcenter.ebankit.local/Services/SecurityCenter/Backoffice.asmx" binding="basicHttpBinding" bindingConfiguration="SecurityCenter" contract="AliasBackOffice.BackofficeSoap" name="BackofficeSoap"   xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      <endpoint address="http://qa-ebankit-appcenter.ebankit.local/Services/SecurityCenter/ContactHistory.asmx" binding="basicHttpBinding" bindingConfiguration="SecurityCenter" contract="ContactHistory.ContactHistorySoap" name="ContactHistorySoap"   xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      <endpoint address="http://qa-ebankit-appcenter.ebankit.local/Services/SecurityCenter/AliasOperation.asmx" binding="basicHttpBinding" bindingConfiguration="SecurityCenter" contract="AliasOperation.AliasOperationSoap" name="AliasOperationSoap"   xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      <endpoint address="http://qa-ebankit-appcenter.ebankit.local/Services/SecurityCenter/AliasAuthentication.asmx" binding="basicHttpBinding" bindingConfiguration="SecurityCenter" contract="AliasAuthentication.AliasAuthenticationSoap" name="AliasAuthenticationSoap"   xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      <endpoint address="http://qa-ebankit-appcenter.ebankit.local/Services/SecurityCenter/AliasManagement.asmx" binding="basicHttpBinding" bindingConfiguration="SecurityCenter" contract="AliasManagement.AliasManagementSoap" name="AliasManagementSoap"   xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      <endpoint address="http://qa-ebankit-appcenter.ebankit.local/Services/SecurityCenter/SdcManagement.asmx" binding="basicHttpBinding" bindingConfiguration="SecurityCenter" contract="SdcManagement.SdcManagementSoap" name="SdcManagementSoap"   xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      <endpoint address="http://qa-ebankit-appcenter.ebankit.local/Services/SecurityCenter/SMSToken.asmx" binding="basicHttpBinding" bindingConfiguration="SecurityCenter" contract="SMSToken.SMSTokenSoap" name="SMSTokenSoap"   xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      <endpoint address="http://qa-ebankit-appcenter.ebankit.local/Services/SecurityCenter/AliasAuthorization.asmx" binding="basicHttpBinding" bindingConfiguration="SecurityCenter" contract="AliasAuthorization.AliasAuthorizationSoap" name="AliasAuthorizationSoap"   xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      <endpoint address="http://qa-ebankit-appcenter.ebankit.local/Services/SecurityCenter/UserManagement.asmx" binding="basicHttpBinding" bindingConfiguration="SecurityCenter" contract="UserManagement.UserManagementSoap" name="UserManagementSoap"   xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      <endpoint address="http://qa-ebankit-appcenter.ebankit.local/Services/Workflow/WorkflowService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICoreService" contract="WorkflowService.IWorkflowService" name="BasicHttpBinding_IWorkflowService"   xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      <endpoint address="http://qa-ebankit-appcenter.ebankit.local/Services/SecurityCenter/ApplicationService.asmx" binding="basicHttpBinding" bindingConfiguration="ApplicationServiceSoap" contract="ApplicationService.ApplicationServiceSoap" name="ApplicationServiceSoap"   xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      <endpoint address="http://qa-ebankit-appcenter.ebankit.local/Services/SecurityCenter/UserSubscription.asmx" binding="basicHttpBinding" bindingConfiguration="UserSubscriptionSoap" contract="UserSubscription.UserSubscriptionSoap" name="UserSubscriptionSoap"   xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>


    </client>
  </system.serviceModel>
  
</configuration>
