<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AngleSharp" version="0.9.10" targetFramework="net48" />
  <package id="AutoMapper" version="6.2.2" targetFramework="net48" />
  <package id="AWSSDK.Core" version="3.3.104.15" targetFramework="net48" />
  <package id="AWSSDK.Pinpoint" version="3.3.105.6" targetFramework="net48" />
  <package id="AWSSDK.SimpleEmail" version="3.3.101.93" targetFramework="net48" />
  <package id="CacheManager.Core" version="1.2.0" targetFramework="net48" />
  <package id="CacheManager.Microsoft.Extensions.Configuration" version="1.2.0" targetFramework="net48" />
  <package id="CacheManager.Microsoft.Extensions.Logging" version="1.2.0" targetFramework="net48" />
  <package id="CacheManager.Serialization.Json" version="1.2.0" targetFramework="net48" />
  <package id="CacheManager.StackExchange.Redis" version="1.2.0" targetFramework="net48" />
  <package id="CacheManager.SystemRuntimeCaching" version="1.2.0" targetFramework="net48" />
  <package id="Dapper" version="2.0.123" targetFramework="net48" />
  <package id="Dommel" version="1.11.0" targetFramework="net48" />
  <package id="eBankit.Business.Entities" version="7.0.1" targetFramework="net48" />
  <package id="eBankit.Business.Entities.Administration" version="7.0.1" targetFramework="net48" />
  <package id="eBankit.Business.Entities.Alerts" version="7.0.1" targetFramework="net48" />
  <package id="eBankit.Business.Entities.BackOffice" version="7.0.1" targetFramework="net48" />
  <package id="eBankit.Business.Entities.Banking" version="7.0.1" targetFramework="net48" />
  <package id="eBankit.Business.Entities.CRM" version="7.0.1" targetFramework="net48" />
  <package id="eBankit.Business.Entities.Helpdesk" version="7.0.1" targetFramework="net48" />
  <package id="eBankit.Business.Entities.InternetBanking" version="7.0.1" targetFramework="net48" />
  <package id="eBankit.Business.Entities.MPS" version="7.0.1" targetFramework="net48" />
  <package id="eBankit.Business.Entities.OpenBankingConnect" version="7.0.1" targetFramework="net48" />
  <package id="eBankit.Business.Entities.PFM" version="7.0.1" targetFramework="net48" />
  <package id="eBankit.Business.Entities.PS2" version="7.0.1" targetFramework="net48" />
  <package id="eBankit.Business.Entities.PSD2" version="7.0.1" targetFramework="net48" />
  <package id="eBankit.Business.Entities.Workflow" version="7.0.1" targetFramework="net48" />
  <package id="eBankit.Business.Workflow" version="7.0.1" targetFramework="net48" />
  <package id="eBankit.Common" version="7.0.1" targetFramework="net48" />
  <package id="eBankit.Common.Authorization" version="7.0.1" targetFramework="net48" />
  <package id="eBankit.Common.Documents" version="7.0.1" targetFramework="net48" />
  <package id="eBankit.Common.Globalization" version="7.0.1" targetFramework="net48" />
  <package id="eBankit.Common.InternetBanking" version="7.0.1" targetFramework="net48" />
  <package id="eBankit.Common.Logic" version="7.0.1" targetFramework="net48" />
  <package id="eBankit.Common.Providers" version="7.0.1" targetFramework="net48" />
  <package id="eBankit.Common.Providers.BackOffice" version="7.0.1" targetFramework="net48" />
  <package id="eBankit.Common.Providers.Workflow" version="7.0.1" targetFramework="net48" />
  <package id="eBankit.Common.Security" version="7.0.1" targetFramework="net48" />
  <package id="eBankit.Common.Sites" version="7.0.1" targetFramework="net48" />
  <package id="eBankit.Common.Web" version="7.0.1" targetFramework="net48" />
  <package id="Ebankit.Core.Caching.Abstractions" version="7.0.1" targetFramework="net48" />
  <package id="Ebankit.Core.Caching.CM" version="7.0.1" targetFramework="net48" />
  <package id="Ebankit.Core.Caching.CM.SqlServer" version="7.0.1" targetFramework="net48" />
  <package id="Ebankit.Core.Data.Dommel" version="7.0.1" targetFramework="net48" />
  <package id="Ebankit.Core.MultiTenancy" version="7.0.1" targetFramework="net48" />
  <package id="Ebankit.Core.MultiTenancy.Authentication" version="7.0.1" targetFramework="net48" />
  <package id="Ebankit.Core.MultiTenancy.Common" version="7.0.1" targetFramework="net48" />
  <package id="Ebankit.Core.Security.Claims" version="7.0.1" targetFramework="net48" />
  <package id="eBankit.Data.Alerts" version="7.0.1" targetFramework="net48" />
  <package id="eBankit.Data.Base" version="7.0.1" targetFramework="net48" />
  <package id="eBankit.Lib.ApiModel.SecurityCenter" version="7.0.1" targetFramework="net48" />
  <package id="eBankit.LIB.Logging.Core" version="7.0.1" targetFramework="net48" />
  <package id="eBankit.LIB.Module.Alerts" version="7.0.1" targetFramework="net48" />
  <package id="eBankit.LIB.Module.Campaigns" version="7.0.1" targetFramework="net48" />
  <package id="eBankit.LIB.Module.CommandCentre" version="7.0.1" targetFramework="net48" />
  <package id="eBankit.LIB.Module.OpenBankingConnect" version="7.0.1" targetFramework="net48" />
  <package id="eBankit.LIB.Module.SocialBanking" version="7.0.1" targetFramework="net48" />
  <package id="eBankit.LIB.Module.UserEngagementHub" version="7.0.1" targetFramework="net48" />
  <package id="eBankit.LIB.Module.VirtualEntity" version="7.0.1" targetFramework="net48" />
  <package id="eBankit.LIB.Transaction.Abstractions" version="7.0.1" targetFramework="net48" />
  <package id="eBankit.LIB.Transaction.Events" version="7.0.1" targetFramework="net48" />
  <package id="eBankit.Middleware.Alerts.Providers" version="7.0.1" targetFramework="net48" />
  <package id="eBankit.Middleware.Alerts.Proxy" version="7.0.1" targetFramework="net48" />
  <package id="eBankit.Middleware.Business.Entities" version="7.0.1" targetFramework="net48" />
  <package id="eBankit.Middleware.Business.Entities.Ebankit" version="7.0.1" targetFramework="net48" />
  <package id="eBankit.Middleware.Business.Entities.Loans" version="7.0.1" targetFramework="net48" />
  <package id="eBankit.Middleware.Business.Entities.TemplateProcessor" version="7.0.1" targetFramework="net48" />
  <package id="eBankit.Middleware.Business.SecurityCenter" version="7.0.1" targetFramework="net48" />
  <package id="eBankit.Middleware.Common" version="7.0.1" targetFramework="net48" />
  <package id="eBankit.Middleware.Common.Messaging" version="7.0.1" targetFramework="net48" />
  <package id="eBankit.Middleware.Common.Messaging.Data" version="7.0.1" targetFramework="net48" />
  <package id="eBankit.Middleware.Core" version="7.0.1" targetFramework="net48" />
  <package id="eBankit.Middleware.Core.eBankit" version="7.0.1" targetFramework="net48" />
  <package id="eBankit.Middleware.Core.SecurityCenter" version="7.0.1" targetFramework="net48" />
  <package id="eBankit.Middleware.Core.SecurityCenter.Instrumentation" version="7.0.1" targetFramework="net48" />
  <package id="eBankit.Middleware.Core.Workflow.Business" version="7.0.1" targetFramework="net48" />
  <package id="eBankit.Middleware.Data.Core" version="7.0.1" targetFramework="net48" />
  <package id="eBankit.Middleware.Data.EBankit" version="7.0.1" targetFramework="net48" />
  <package id="eBankit.Middleware.Data.GPM.DataAccess" version="7.0.1" targetFramework="net48" />
  <package id="eBankit.Middleware.Data.SecurityCenter.DataAccess" version="7.0.1" targetFramework="net48" />
  <package id="eBankit.Middleware.Data.SecurityCenter.DataAccess.DataServices" version="7.0.1" targetFramework="net48" />
  <package id="eBankit.Middleware.Data.Workflow" version="7.0.1" targetFramework="net48" />
  <package id="eBankit.Middleware.GPM.Common" version="7.0.1" targetFramework="net48" />
  <package id="eBankit.Middleware.GPM.Utils" version="7.0.1" targetFramework="net48" />
  <package id="eBankit.Middleware.Helpdesk.Providers" version="7.0.1" targetFramework="net48" />
  <package id="eBankit.Middleware.Helpdesk.Proxy" version="7.0.1" targetFramework="net48" />
  <package id="eBankit.Middleware.Provider.TemplateProcessor" version="7.0.1" targetFramework="net48" />
  <package id="eBankit.Middleware.Providers.Authentication" version="7.0.1" targetFramework="net48" />
  <package id="eBankit.Middleware.Providers.CoreBankingProvider" version="7.0.1" targetFramework="net48" />
  <package id="eBankit.Middleware.Providers.Ebankit" version="7.0.1" targetFramework="net48" />
  <package id="eBankit.Middleware.Proxy.Authentication" version="7.0.1" targetFramework="net48" />
  <package id="eBankit.Middleware.Proxy.Ebankit" version="7.0.1" targetFramework="net48" />
  <package id="eBankit.Middleware.Proxy.Loans" version="7.0.1" targetFramework="net48" />
  <package id="eBankit.Middleware.Proxy.TemplateProcessor" version="7.0.1" targetFramework="net48" />
  <package id="eBankit.Middleware.Transactions" version="7.0.1" targetFramework="net48" />
  <package id="eBankit.Middleware.Transactions.eBankit" version="7.0.1" targetFramework="net48" />
  <package id="eBankit.Middleware.Workflow.Business.Entities" version="7.0.1" targetFramework="net48" />
  <package id="eBankit.Middleware.Workflow.Common" version="7.0.1" targetFramework="net48" />
  <package id="eBankit.Proxy" version="7.0.1" targetFramework="net48" />
  <package id="eBankit.Proxy.BackOffice" version="7.0.1" targetFramework="net48" />
  <package id="eBankit.Proxy.SecurityCenter" version="7.0.1" targetFramework="net48" />
  <package id="eBankit.Transactions.Common" version="7.0.1" targetFramework="net48" />
  <package id="eBankit.UI.Controls" version="7.0.1" targetFramework="net48" />
  <package id="eBankit.UI.Controls.Captcha" version="7.0.1" targetFramework="net48" />
  <package id="eBankit.UI.Controls.InternetBanking" version="7.0.1" targetFramework="net48" />
  <package id="eBankit.UI.Modules.Web.CoBrowsing" version="7.0.1" targetFramework="net48" />
  <package id="eBankit.UI.Workflow.Controls" version="7.0.1" targetFramework="net48" />
  <package id="EntityFramework" version="6.1.3" targetFramework="net48" />
  <package id="EnvDTE" version="8.0.0" targetFramework="net48" />
  <package id="Fare" version="2.1.2" targetFramework="net48" />
  <package id="FastMember" version="1.3.0" targetFramework="net48" />
  <package id="HtmlSanitizer" version="4.0.187" targetFramework="net48" />
  <package id="IdentityModel" version="4.4.0" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Caching.Abstractions" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="1.0.2" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.EnvironmentVariables" version="2.1.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.FileExtensions" version="2.1.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Json" version="2.1.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.FileProviders.Abstractions" version="2.1.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.FileProviders.Physical" version="2.1.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.FileSystemGlobbing" version="2.1.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging" version="1.0.2" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="1.0.2" targetFramework="net48" />
  <package id="Microsoft.Extensions.Options" version="2.1.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Primitives" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.JsonWebTokens" version="5.3.0" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.Logging" version="5.3.0" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.Protocols" version="5.3.0" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.Protocols.OpenIdConnect" version="5.3.0" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.Tokens" version="5.3.0" targetFramework="net48" />
  <package id="Microsoft.NETCore.Portable.Compatibility" version="1.0.1" targetFramework="net48" />
  <package id="Microsoft.Owin" version="4.1.0" targetFramework="net48" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="4.1.0" targetFramework="net48" />
  <package id="Microsoft.Owin.Security" version="4.1.0" targetFramework="net48" />
  <package id="Microsoft.Owin.Security.Cookies" version="4.1.0" targetFramework="net48" />
  <package id="Microsoft.Owin.Security.OpenIdConnect" version="4.1.0" targetFramework="net48" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net48" />
  <package id="MiniProfiler" version="3.2.0.157" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net48" />
  <package id="Owin" version="1.0" targetFramework="net48" />
  <package id="Pipelines.Sockets.Unofficial" version="1.0.7" targetFramework="net48" />
  <package id="Polly" version="7.2.0" targetFramework="net48" />
  <package id="StackExchange.Redis" version="2.0.513" targetFramework="net48" />
  <package id="StackExchange.Redis.StrongName" version="1.1.608" targetFramework="net48" />
  <package id="stdole" version="7.0.3300" targetFramework="net48" />
  <package id="Syncfusion.Compression.Base" version="16.3.0.36" targetFramework="net48" />
  <package id="Syncfusion.Licensing" version="16.3.0.36" targetFramework="net48" />
  <package id="Syncfusion.XlsIO.AspNet" version="16.3.0.36" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Collections" version="4.0.11" targetFramework="net48" />
  <package id="System.Collections.Concurrent" version="4.0.12" targetFramework="net48" />
  <package id="System.Collections.NonGeneric" version="4.0.1" targetFramework="net48" />
  <package id="System.ComponentModel.Annotations" version="5.0.0" targetFramework="net48" />
  <package id="System.ComponentModel.Primitives" version="4.1.0" targetFramework="net48" />
  <package id="System.ComponentModel.TypeConverter" version="4.1.0" targetFramework="net48" />
  <package id="System.Configuration.ConfigurationManager" version="6.0.0" targetFramework="net48" />
  <package id="System.Data.SqlClient" version="4.8.3" targetFramework="net48" />
  <package id="System.Diagnostics.Debug" version="4.0.11" targetFramework="net48" />
  <package id="System.Diagnostics.PerformanceCounter" version="4.5.0" targetFramework="net48" />
  <package id="System.Globalization" version="4.0.11" targetFramework="net48" />
  <package id="System.IdentityModel.Tokens.Jwt" version="5.3.0" targetFramework="net48" />
  <package id="System.IO" version="4.3.0" targetFramework="net48" />
  <package id="System.IO.Compression" version="4.3.0" targetFramework="net48" />
  <package id="System.IO.Pipelines" version="4.5.1" targetFramework="net48" />
  <package id="System.Linq" version="4.1.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.4" targetFramework="net48" />
  <package id="System.Net.Http" version="4.3.3" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Reflection" version="4.1.0" targetFramework="net48" />
  <package id="System.Resources.ResourceManager" version="4.0.1" targetFramework="net48" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
  <package id="System.Runtime.Extensions" version="4.1.0" targetFramework="net48" />
  <package id="System.Runtime.InteropServices" version="4.1.0" targetFramework="net48" />
  <package id="System.Security.AccessControl" version="6.0.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Permissions" version="6.0.0" targetFramework="net48" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net48" />
  <package id="System.Text.Encodings.Web" version="6.0.0" targetFramework="net48" />
  <package id="System.Text.Json" version="6.0.1" targetFramework="net48" />
  <package id="System.Threading" version="4.0.11" targetFramework="net48" />
  <package id="System.Threading.Channels" version="4.5.0" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
</packages>