<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="widgetSection" type="eBankit.Middleware.Ui.Web.Monitoring.Configuration.Widgets.WidgetSection, eBankit.Middleware.Ui.Web.Monitoring" allowDefinition="MachineToApplication" />
    <sectionGroup name="core">
      <section name="CoreConfiguration" type="eBankit.Common.Sites.CoreSitesSettings, eBankit.Common.Sites" allowDefinition="MachineToApplication" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <widgetSection>
    <Widgets>
      <add Id="1" Application="INTERNETBANKING" Title="Internet Banking" Icon="globe" ApplicationType="WebPage" WidgetSize="Normal" AssemblyName="GenericWidgetConfiguration" />
      <add Id="2" Application="ANDROID%" Title="Android" Icon="android" ApplicationType="Mobile" WidgetSize="Normal" AssemblyName="GenericWidgetConfiguration" />
      <add Id="4" Application="EMS" Title="EMS" Icon="archive" ApplicationType="WebPage" WidgetSize="Normal" AssemblyName="GenericWidgetConfiguration" />
      <add Id="5" Application="IP%" Title="iOS" Icon="apple" ApplicationType="Mobile" WidgetSize="Normal" AssemblyName="GenericWidgetConfiguration" />
      <add Id="6" Application="PORTAL" Title="Portal" Icon="university" ApplicationType="WebPage" WidgetSize="Normal" AssemblyName="GenericWidgetConfiguration" />
      <add Id="7" Application="CONTACTCENTER" Title="Contact Center" Icon="globe" ApplicationType="WebPage" WidgetSize="Normal" AssemblyName="GenericWidgetConfiguration" />
      <add Id="8" Application="FRONTOFFICE" Title="Front Office" Icon="globe" ApplicationType="WebPage" WidgetSize="Normal" AssemblyName="GenericWidgetConfiguration" />
      <add Id="9" Application="WORKFLOW" Title="Workflow" ApplicationType="Service" WidgetSize="Small" AssemblyName="GenericWidgetConfiguration" />
      <add Id="10" Application="SECURITYCENTER" Title="Security Center" ApplicationType="Service" WidgetSize="Small" AssemblyName="GenericWidgetConfiguration" />
      <add Id="11" Application="PSD2" Title="Gateways (PSD2)" ApplicationType="Service" WidgetSize="Normal" AssemblyName="GenericWidgetConfiguration" />
    </Widgets>
  </widgetSection>
  <core>
    <CoreConfiguration logFolder="c:\logs\ebankit">
      <application appName="MONITORING" appMode="DEV" title="Ebankit Monitoring">
        <site logoPath="~/Content/img/ebankit_logo_b.png" />
      </application>
    </CoreConfiguration>
  </core>
  <connectionStrings>
    <add name="EbankitMonitoringConnectionString" connectionString="Data Source=EBKNTBOOK-0850\LOCALDB;Initial Catalog=rel70_EbankitMonitoring;Persist Security Info=True;User ID=sa;Password=Portofc1997_" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="ebankIT.Monitoring.WidgetFactory.Namespaces" value="eBankit.Middleware.Ui.Web.Monitoring" />
    <add key="Monitoring.Probes.Enabled" value="true" />
    <add key="Monitoring.Probes.Retry" value="false" />
    <add key="Monitoring.Probes.Retry.Cycle" value="0" />
    <add key="ebankIT.Monitoring.Dashboard.LiveTransaction.Enable" value="true" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="restservice" value="http://appcenter.rel70.local/services/monitoring" />
    <!-- IDENTITY CLAIMS CONFIGURATION -->
    <add key="Identity.TokenAuthorityUrl" value="http://ids-internal.rel70.local" />
    <add key="Identity.ClientId" value="Monitoring" />
    <add key="Identity.ClientSecret" value="13e7a462-1990-4cf6-bce7-6884570379d3" />
    <add key="Identity.RequireHTTPS" value="false" />
    <!-- Authentication Settings (only considered if user authentication is in Identity Server) -->
    <add key="Identity.RedirectUri" value="http://monitoring.rel70.local/" />
    <add key="Identity.AuthenticationScope" value="openid profile Scope.Trusted offline_access" />
    <add key="Identity.SplashScreen.Enable" value="true" />
    <add key="Identity.SplashScreen.Url" value="Splash" />
    <!--<add key="DateFormat" value="DD/MM/YYYY HH:mm:ss" />-->
    <add key="DateFormat" value="YYYY-MM-DD HH:mm:ss" />
    <add key="mailServerEnabled" value="true" />
    <add key="mailServer" value="outlook.office365.com" />
    <add key="mailServerPort" value="25" />
    <add key="mailTimeout" value="10" />
    <add key="mailAuthenticate" value="true" />
    <add key="mailFrom" value="notifies@ebankit.com" />
    <add key="mailUser" value="notifies@ebankit.com" />
    <add key="mailPassword" value="sadsadsad" />
    <add key="mailUserDomain" value="" />
    <add key="mailSSL" value="true" />
    <add key="logoPath" value="/services/core/Content/images/logo_ebankit_b.jpg" />
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="showRealErrors" value="true" />
    <!-- Defines the application name to appear in the default filters -->
    <add key="Requests.Filters.DefaultApplication" value="EMS" />
  </appSettings>
  <system.web>
    <customErrors mode="Off" redirectMode="ResponseRewrite" />
    <globalization enableClientBasedCulture="true" uiCulture="en-GB" culture="en-GB" />
    <!--<authentication mode="None" />-->
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="1440" />
    </authentication>
    <authorization>
      <!--<deny users="?" />-->
    </authorization>
    <compilation debug="true" targetFramework="4.8">
      <assemblies>
        <add assembly="netstandard, Version=2.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" />
      </assemblies>
    </compilation>
    <!--maxUrlLength="10999" maxQueryStringLength="2097151" enable="true"-->
    <sessionState sessionIDManagerType="eBankit.Common.Session.CoreSessionIDManager" mode="Custom" customProvider="SqlInMemoryProvider">
      <providers>
        <add name="SqlInMemoryProvider" type="Microsoft.Web.SessionState.SqlInMemoryProvider" connectionString="Data Source=EBKNTBOOK-0850\LOCALDB;Initial Catalog=rel70_EbankitSessionStateInMemory;User ID=sa;Password=Portofc1997_" />
      </providers>
    </sessionState>
    <healthMonitoring enabled="true" heartbeatInterval="5">
      <providers>
        <add name="MonitoringBufferedEventProvider" type="eBankit.Common.Instrumentation.Log.MonitoringBufferedEventProvider,eBankit.Common" buffer="false" bufferMode="EbankitBufferConfiguration" connector="eBankit.LIB.Logging.Sql.SqlLogConnector,eBankit.LIB.Logging.Sql" debug="true" logsFolder="C:\Log\HealthMonitoring" requestFilteringEnabled="true" isBlocklist="true" />
      </providers>
      <bufferModes>
        <add name="EbankitBufferConfiguration" maxBufferSize="1000000" maxFlushSize="5000" urgentFlushThreshold="50000" regularFlushInterval="00:00:30" urgentFlushInterval="00:00:10" maxBufferThreads="10" />
      </bufferModes>
      <profiles>
        <add name="EbankitProfile" minInstances="1" maxLimit="Infinite" minInterval="00:00:00" />
      </profiles>
      <rules>
        <add name="Custom Event Provider" eventName="All Events" provider="MonitoringBufferedEventProvider" profile="EbankitProfile" />
      </rules>
      <eventMappings>
        <add name="EbankitEventMapping" type="System.Web.Management.WebBaseEvent,System.Web,Version=2.0.0.0,Culture=neutral,PublicKeyToken=b03f5f7f11d50a3a" startEventCode="100015" endEventCode="100050" />
      </eventMappings>
    </healthMonitoring>
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="MonitoringHttpHandler" />
      <add name="MonitoringHttpHandler" verb="*" path="*.monitor" type="eBankit.Middleware.Ui.Web.Monitoring.MonitoringHttpHandler" resourceType="Unspecified" />
    </handlers>
    <modules>
      <!--<remove name="FormsAuthentication" />-->
    </modules>
    <security>
      <!--<requestFiltering>
		<requestLimits maxUrl="10999" maxQueryString="2097151" />
	  </requestFiltering>-->
    </security>
    <staticContent>
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="font/x-woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
    </staticContent>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CacheManager.Core" publicKeyToken="5b450b4fb65c4cdb" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.0" newVersion="1.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.Abstractions" publicKeyToken="adb9793829ddae60" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" culture="neutral" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>