<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<connectionStrings>
		<add name="EbankitMonitoringConnectionString"                                                   connectionString="__constring.EbankitMonitoring__" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
	</connectionStrings>
	<appSettings>
		<add key="restservice" value="__appsettings.restservice__" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="Identity.TokenAuthorityUrl" value="__appsettings.Identity.TokenAuthorityUrl.Internal__" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="Identity.AllowedIssuers" value="__appsettings.Identity.AllowedIssuers__" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="Identity.RedirectUri" value="__appsettings.eBankit.MonitorWebserver__" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
	</appSettings>
	<system.web>
		<machineKey  decryption="AES"  decryptionKey="4ED538405B7BE775C6835D27659121D943418A650F0D3944"  validation="HMACSHA256" validationKey="7F594215DAE92EAB4B7D1D02DA4DAECD44870B66C7CFDA5911666B8B9485F495A31654C593B5716820B05332A052925CDC47ACD394C69F1FE077E42F49296F67" xdt:Transform="Insert"/>
		<customErrors xdt:Transform="Replace" mode="RemoteOnly" />
		<authentication mode="Forms" xdt:Transform="Replace">
			<forms name=".ASPXFORMSAUTH" cookieless="UseCookies" loginUrl="~/Account/Login" requireSSL="true" protection="All" path="/" timeout="2880"/>
		</authentication>
		<httpCookies httpOnlyCookies="true" requireSSL="true" xdt:Transform="Insert"/>
		<compilation xdt:Transform="RemoveAttributes(debug)" />
		<sessionState mode="Custom" customProvider="SqlInMemoryProvider" sessionIDManagerType="eBankit.Common.Session.CoreSessionIDManager">
			<providers>
				<add name="SqlInMemoryProvider" type="Microsoft.Web.SessionState.SqlInMemoryProvider" connectionString="__constring.EbankitSessionManagerMobile__" xdt:Transform="SetAttributes"/>
			</providers>
		</sessionState>
	</system.web>
	<system.webServer>
		<httpProtocol xdt:Transform="Insert">
			<customHeaders>
				<remove name="X-AspNet-Version" />
				<remove name="X-Powered-By" />
				<add name="Cache-Control" value="public" />
				<remove name="X-Frame-Options" />
				<add name="X-Frame-Options" value="sameorigin" />
				<remove name="X-Xss-Protection" />
				<add name="X-Xss-Protection" value="1; mode=block" />
				<add name="X-Content-Type-Options" value="nosniff" />
				<add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains; preload" />
				<remove name="Content-Security-Policy" />
				<add name="Content-Security-Policy" value="frame-ancestors ebankit.com" />
				<add name="Referrer-Policy" value="same-origin" />
				<add name="X-Powered-By" value="ebankIT | Omnichannel Innovation" />
			</customHeaders>
		</httpProtocol>
		<security xdt:Transform="Insert">
			<requestFiltering allowDoubleEscaping="false">
				<verbs>
					<add verb="TRACE" allowed="false"/>
				</verbs>
			</requestFiltering>
		</security>
	</system.webServer>
</configuration>
