.padding-left-initial {
    padding-left: initial;
}

.platform-currency {
    margin-top: 15px;
    padding-left: initial;
    margin-left: -2%;
}

.txtAmount-width input[type=text] {
    max-width: 95%;
}

.account-select-description {
    padding-left: 5px;
    font-size: 14px;
    color: #555555;
    font-weight: normal;
}