<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="SonarQube - Product Standard Sonar way" ToolsVersion="16.0">
  <Include Path="..\..\..\..\..\code analysis\ebankit.product.ruleset" Action="Default" />
  <Include Path="..\..\..\..\.sonarlint\tfsbuildcsharp.ruleset" Action="Default" />
</RuleSet>