<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="MonitorWebServer_InboundRule">
          <match url="(.*)" />
          <action type="Rewrite" url="http://localhost:8733/eBankit.Middleware.MonitorWebServer/MonitorWCF/{R:1}" />
        </rule>
      </rules>
      <outboundRules>
        <rule name="MonitorWebServer_OutBoundRule" preCondition="MonitorWebServer_PreCondition">
          <match filterByTags="A, Form, Img" pattern="http://localhost:8733/eBankit.Middleware.MonitorWebServer/MonitorWCF/(.*)" />
          <action type="Rewrite" value="http://monitorwebserver.rel70.local/{R:1}" />
        </rule>
        <preConditions>
          <preCondition name="MonitorWebServer_PreCondition">
            <add input="{RESPONSE_CONTENT_TYPE}" pattern="^text/html" />
          </preCondition>
        </preConditions>
      </outboundRules>
    </rewrite>
    <urlCompression doStaticCompression="false" doDynamicCompression="false" />
  </system.webServer>
</configuration>




