<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <sessionState mode="Custom" customProvider="SqlInMemoryProvider" >
      <providers>
        <add name="SqlInMemoryProvider" type="Microsoft.Web.SessionState.SqlInMemoryProvider" connectionString="__constring.EbankitSessionManagerSC__" xdt:Transform="SetAttributes"/>
      </providers>
    </sessionState>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  <loggingConfiguration name="Logging Application Block" tracingEnabled="true" defaultCategory="info" logWarningsWhenNoCategoriesMatch="true">
    <listeners>
      <add fileName="__appsettings.SecurityCenterLogsDirectory__" rollSizeKB="15000" timeStampPattern="yyyy-MM-dd" rollFileExistsBehavior="Increment" rollInterval="Week" formatter="Text Formatter" header="" footer="" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="Rolling Flat File Trace Listener" xdt:Transform="SetAttributes(fileName)" xdt:Locator="Match(name)" />
      <add fileName="__appsettings.SecurityCenterPerformanceLogsDirectory__" rollSizeKB="5000" timeStampPattern="yyyy-MM-dd" rollFileExistsBehavior="Increment" rollInterval="None" formatter="Performance Text Formatter" header="" footer="" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" traceOutputOptions="None" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="Performance Rolling Flat File Trace Listener" xdt:Transform="SetAttributes(fileName)" xdt:Locator="Match(name)"/>
    </listeners>
  </loggingConfiguration>
  <appSettings>
    <add key="SMSGateway.URL" value="http://websimulation.ebankit.local/smssimula?user=$&amp;password=$&amp;api_id=$&amp;from=$&amp;to=$&amp;text=$" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
  <connectionStrings xdt:Transform="Replace">
    <add name="eBankit.Session"                         connectionString="__constring.EbankitSessionManagerSC__"                    providerName="System.Data.SqlClient"       xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <appSettings>
    <add key="Identity.TokenAuthorityUrl"                                             value="__appsettings.Identity.TokenAuthorityUrl.Internal__"                                              xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
	<add key="Identity.AllowedIssuers"                                                value="__appsettings.Identity.AllowedIssuers__"                                                 xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
	<add key="Identity.RequireHTTPS"                                                  value="__appsettings.Identity.RequireHTTPS__"                                                   xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <system.serviceModel>
    <services>
      <service name="eBankit.Middleware.SecurityCenterServices.Session.SessionManagement" behaviorConfiguration="AuthorizationServiceBehaviour"  xdt:Transform="Replace" xdt:Locator="Match(name)">
        <endpoint address="" binding="webHttpBinding" bindingConfiguration="webHttpTransportSecurity"  contract="eBankit.Middleware.SecurityCenterServices.Session.ISessionManagement" behaviorConfiguration="CustomAttributeBehavior"/>
      </service>
      <service name="eBankit.Middleware.SecurityCenterServices.IdentityServer.IdentityServerAuthentication" behaviorConfiguration="AuthorizationServiceBehaviour"  xdt:Transform="Replace" xdt:Locator="Match(name)">
        <endpoint address="" binding="webHttpBinding" bindingConfiguration="webHttpTransportSecurity"  contract="eBankit.Middleware.SecurityCenterServices.IdentityServer.IIdentityServerAuthentication" behaviorConfiguration="CustomAttributeBehavior"/>
      </service>
      <service name="eBankit.Middleware.SecurityCenterServices.SmsToken.SmsTokenManagement" behaviorConfiguration="AuthorizationServiceBehaviour"  xdt:Transform="Replace" xdt:Locator="Match(name)">
        <endpoint address="" binding="webHttpBinding" bindingConfiguration="webHttpTransportSecurity"  contract="eBankit.Middleware.SecurityCenterServices.SmsToken.ISmsTokenManagement" behaviorConfiguration="CustomAttributeBehavior"/>
      </service>
      <service name="eBankit.Middleware.SecurityCenterServices.Alias.AliasAuthenticationService" behaviorConfiguration="AuthorizationServiceBehaviour" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <endpoint address="" binding="webHttpBinding" bindingConfiguration="webHttpTransportSecurity" contract="eBankit.Middleware.SecurityCenterServices.Alias.IAliasAuthenticationService" behaviorConfiguration="CustomAttributeBehavior" name="IAliasAuthenticationService" />
      </service>
    </services>
  </system.serviceModel>
</configuration>
