<?xml version="1.0" encoding="utf-8"?>
<!--<?xml version="1.0" encoding="utf-8"?>-->
<configuration>
	<configSections>
		<section name="ServiceCatalogProvider" type="eBankit.Common.Sites.ServiceCatalogProviderConfiguration, eBankit.Common.Sites" allowDefinition="MachineToApplication" />
		<section name="CoreProvider" type="eBankit.Common.Sites.CoreProviderConfiguration, eBankit.Common.Sites" allowDefinition="MachineToApplication" />
		<sectionGroup name="core">
			<section name="CoreConfiguration" type="eBankit.Common.Sites.CoreSitesSettings, eBankit.Common.Sites" allowDefinition="MachineToApplication" />
		</sectionGroup>
		<section name="ProcessManagerProvider" type="eBankit.Common.Providers.Workflow.ProcessManagerProviderConfiguration, eBankit.Common.Providers.Workflow" allowDefinition="Everywhere" />
	</configSections>
	<ProcessManagerProvider defaultProvider="FirstProvider">
		<providers>
			<add name="FirstProvider" type="eBankit.Common.Providers.ServicesProcessManagerProvider, eBankit.Common.Providers.Workflow" description="this came from config" />
		</providers>
	</ProcessManagerProvider>
	<CoreProvider defaultProvider="FirstProvider">
		<providers>
			<add name="FirstProvider" type="eBankit.Common.Providers.ServicesCoreProvider, eBankit.Common.Providers" description="this came from config" />
		</providers>
	</CoreProvider>
	<appSettings>
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
		<add key="TransactionRecoveryModeSimulation" value="false" />
		<add key="TransactionSaveModeSimulation" value="true" />
		<add key="Application.ID" value="2" />
		<add key="resourcesPath" value="/eBankit.Sites/InternetBanking/Resources/" />
		<add key="usecache" value="true" />
		<add key="cacheAbsoluteExpiration" value="5" />
		<add key="cacheSlidingExpiration" value="0" />
		<add key="dataWaitTime" value="0" />
		<add key="CacheUpdateFileName" value="c:\temp" />
		<add key="ShowRealServiceError" value="true" />
		<!-- Enrollment hierarchy config -->
		<!--Comma-separated list of all allowed roles (empty to allow all)-->
		<add key="Enrollment.AllowedRoles" value="1000,1003,1005,1002" />
		<!--
      Comma-separated list of all allowed departments (empty to allow all).
      Eg:
        "30310001" = "3031" (department) + "0001" (branch id)
    -->
		<add key="Enrollment.AllowedHierarchyPrefixes" value="3031,3033," />
		<!--Comma-separated list of roles allowed to visualize SMS activation token (empty to allow all)-->
		<add key="Enrollment.ActivationTokenRoles" value="1000,1001,1002" />
		<!--The number of digits that identify the branch part of the cost center-->
		<add key="Enrollment.HierarchyBranchLength" value="4" />
		<!--Default country phone code-->
		<add key="Enrollment.DefaultInternationalPhonePrefix" value="351" />
		<!--configuration to companies-->
		<add key="Enrollment.SubscriptionTransactionListGroup1" value="1231;1233;1230;56;1234;1235" />
		<add key="Enrollment.SubscriptionTransactionListGroup2" value="1231;1233;1230;56;1234;1235" />
		<add key="Enrollment.SubscriptionTransactionListGroup3" value="279;172,21;144;57" />
		<add key="Enrollment.SubscriptionTransactionListGroup4" value="279;-1;144;57" />
		<add key="Enrollment.Corporate.Activation.SendSMSToken" value="true" />
		<add key="Enrollment.Corporate.Activation.SendSMSLoginInfo" value="true" />
		<!-- SendAlias[bool]|SendPredefinedAccessCode[bool]|SegmentPredefinedCode[bool]|SegmentDelta [0]auto [0.1-0.9] percent|SegmentToSend [L]eft [R]ight |SegmentUseMask[bool]|SegmentMaskChar[*]|SegmentMaskLength[0]auto [n]umber of chars-->
		<add key="Enrollment.Corporate.Activation.SendSMSLoginInfoOptions" value="false|true|true|0.0|L|true|*|3" />
		<add key="Enrollment.Corporate.Activation.SendEmailLoginInfo" value="false" />
		<add key="Enrollment.Corporate.Activation.SendEmailLoginInfoOptions" value="0|1|1|0.0|L|1|*|3" />
		<!--configuration to privates-->
		<add key="Enrollment.SubscriptionTransactionListGroup5" value="1200;1201;1202;1203" />
		<add key="Enrollment.SubscriptionTransactionListGroup6" value="1200;1201;1202;1203" />
		<add key="Enrollment.ProcessTypeID" value="24" />
		<!-- ################################################### -->
		<!-- #### Email                                     #### -->
		<!-- ################################################### -->
		<add key="Email.GenerateAliasAccessCode.Module" value="EmailDocument" />
		<add key="Email.GenerateAliasAccessCode.SubjectKey" value="GenerateAliasAccessCodeSubject" />
		<add key="Email.GenerateAliasAccessCode.HeaderKey" value="GenerateAliasAccessCodeHeader" />
		<add key="Email.GenerateAliasAccessCode.FooterKey" value="GenerateAliasAccessCodeFooter" />
		<add key="mailServer" value="outlook.office365.com" />
		<add key="mailServerPort" value="25" />
		<add key="mailTimeout" value="10000" />
		<add key="mailAuthenticate" value="true" />
		<add key="mailFrom" value="notifies@ebankit.com" />
		<add key="mailUser" value="notifies@ebankit.com" />
		<add key="mailPassword" value="sadsadsad" />
		<add key="mailUserDomain" value="" />
		<add key="mailSSL" value="true" />
		<add key="logoPath" value="/services/core/Content/images/logo_ebankit_b.jpg" />
	</appSettings>
	<!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
	<system.web>
		<customErrors mode="Off" />
		<compilation debug="true" targetFramework="4.8" />
		<!-- maxRequestLength=1048576 KB => 1 GB | executionTimeout=600 s => 10 m -->
		<httpRuntime enableVersionHeader="false" maxRequestLength="1048576" executionTimeout="600" shutdownTimeout="600" delayNotificationTimeout="600" />
	</system.web>
	<system.serviceModel>
		<behaviors>
			<serviceBehaviors>
				<behavior>
					<!-- To avoid disclosing metadata information, set the value below to false before deployment -->
					<serviceMetadata httpGetEnabled="true" />
					<!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
	</system.serviceModel>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true" />
		<!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
		<directoryBrowse enabled="true" />
	</system.webServer>
	<!--<system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="traceListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData="C:\temp\BackofficeServiceTraces.svclog"/>
        </listeners>
      </source>
    </sources>
  </system.diagnostics>-->
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<!--<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
      <bindingRedirect oldVersion="0.0.0.0-6.0.0.5" newVersion="6.0.0.5" />-->
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="CacheManager.Core" publicKeyToken="5b450b4fb65c4cdb" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.2.0.0" newVersion="1.2.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Configuration.Abstractions" publicKeyToken="adb9793829ddae60" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Configuration" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>