<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<solution>
		<add key="disableSourceControlIntegration" value="true" />
	</solution>
	<packageSources>
		<add key="eBankit" value="https://pkgs.dev.azure.com/ebankIT-Store/ebankIT-Store/_packaging/ebankIT-NuGet/nuget/v3/index.json" />
		<add key="nuget" value="https://www.nuget.org/api/v2/" />
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
		<add key="microsoft" value="https://www.nuget.org/api/v2/curated-feeds/microsoftdotnet/" />
	</packageSources>
	<packageRestore>
		<!-- Allow NuGet to download missing packages -->
		<add key="enabled" value="True" />
		<!-- Automatically check for missing packages during build in Visual Studio -->
		<add key="automatic" value="True" />
	</packageRestore>
</configuration>
