/*------------To be review later----------------*/
.product-item {
  margin: 10px;
  width: 90%;
}
.accountopening-panel {
  width: 100% !important;
  margin: 0px 0px 20px 0px !important;
}
.accountopening-panel-summary .field {
  margin-bottom: 0px !important;
}
.accountopening-steps-container {
  margin-top: 0px !important;
}
.title-account-type {
  text-align: left;
  text-wrap: normal;
  display: inline-block;
  height: auto !important;
  font-size: 17px;
  color: #1b81b1;
  position: initial;
  font-family: "Gotham Book", "Open Sans", "Arial", "sans-serif" !important;
  margin: 5px 0px 0px;
}
.title-product-account {
  text-align: left;
  text-wrap: normal;
  display: inline-block;
  height: auto !important;
  font-size: 17px;
  color: #1b81b1;
  position: initial;
  font-family: "Gotham Book", "Open Sans", "Arial", "sans-serif" !important;
  margin: 5px 15px 15px;
}
.accountopening-title {
  text-align: left;
  text-wrap: normal;
  display: inline-block;
  height: auto !important;
  font-size: 17px;
  color: #1b81b1;
  position: initial;
  font-family: "Gotham Book", "Open Sans", "Arial", "sans-serif" !important;
  margin: 5px 10px 5px;
}
.account-element {
  padding-left: 0 !important;
  padding-right: 0 !important;
  background-color: #f7f6f6;
  margin-bottom: 40px;
}
.account-type-check {
  padding-top: 8%;
  padding-left: 10px;
}
.account-type-image {
  display: inline-block;
}
@media (max-width: 1100px) and (min-width: 873px) {
  .contentSuccessMsg {
    margin-left: -27%;
    font-size: 15px;
    /*font-size:2vw;*/
  }
}
@media (max-width: 873px) and (min-width: 790px) {
  .contentSuccessMsg {
    margin-left: -17%;
    font-size: 15px;
  }
}
@media (max-width: 790px) {
  .contentSuccessMsg {
    margin-left: 0;
    font-size: 2vw;
    padding-left: 0 !important;
    margin-right: 0 !important;
  }
}
.description {
  padding: 0 28px;
}
.holdersContainer {
  padding-left: 0 !important;
}
@media (max-width: 768px) {
  .main-content-acc {
    padding-right: 0;
    padding-left: 0;
  }
  .account-type-description {
    position: relative !important;
  }
  .description {
    padding: 0 !important;
  }
}
.Holderlbl {
  margin-right: 0 !important;
}
@media (max-width: 600px) {
  .account-type-description {
    width: 100% !important;
  }
  .account-type-image {
    width: 100% !important;
  }
  .account-type-check {
    padding-top: 25% !important;
  }
  .Holderlbl {
    width: 100% !important;
    padding-top: 5px;
    margin-bottom: 5px;
  }
  .passfield {
    width: 100%;
  }
}
@media (max-width: 900px) {
  .Holderlbl {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}
@media (max-width: 890px) and (min-width: 615px) {
  .txtBoxHolders {
    margin-top: 5px;
    margin-left: 25%;
    width: 20%;
  }
}
/*.account-type-description { 
    display: inline-block;
    position: absolute;
}*/
@media (max-width: 767px) {
  .centerField-margins-datepicker_v3 div {
    width: 100% !important;
  }
  .centerField-margins-datepicker_v3 div > .input {
    width: 100% !important;
  }
  .accountopening-steps-container {
    padding-right: 0px !important;
    padding-left: 0px !important;
  }
}
@media (max-width: 769px) {
  .stepsContent {
    width: 100%;
  }
}
.circle {
  width: 25px;
  height: 25px;
  border: 2px solid #a1a1a1;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.chosen {
  background: #0173a7;
  border: 2px solid #0173a7;
}
.AccountListDesc {
  font-size: 12px;
  color: #949494;
  display: inline-block;
  text-align: justify;
  margin: 0px;
  margin-right: 10px;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  font-family: "Gotham Book", "Open Sans", "Arial", "sans-serif";
}
.accountopening-description {
  font-size: 17px;
  color: rgba(99, 99, 99, 0.83);
  display: block;
  text-align: justify;
  margin: 10px 10px 10px;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  font-family: "Gotham Book", "Open Sans", "Arial", "sans-serif";
}
.sliderAccountPicts {
  width: 110px;
}
.panel-choose {
  border: 1px solid #f3f3f3;
  padding: 10px;
  margin-bottom: 20px !important;
  min-height: 310px;
}
.lblGrayHolders {
  color: #a1a1a1;
  display: inline-block;
  font-size: 15px;
  font-weight: bold;
  margin-left: 10px;
  margin-top: 2px;
}
.tickChosen {
  width: 25px;
  height: 25px;
  border: 2px solid #a1a1a1;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  display: inline-block;
  float: left;
}
.accountElem {
  list-style: none;
  margin-bottom: 10px;
  margin-top: 10px;
}
.txtBoxHolders {
  border: 1px #d9d9d9 solid;
  text-align: center;
  margin-left: 10px;
}
.txtBoxHolders.has-error {
  -moz-box-shadow: 0px 0px 8px #D24627;
  -webkit-box-shadow: 0px 0px 8px #D24627;
  box-shadow: 0px 0px 8px #D24627;
}
input.txtBoxHolders ~ label.has-error {
  color: #D24627;
  font-size: 11px;
  font-weight: normal;
  left: 25px;
  text-align: right;
  width: 100%;
  margin: 5px 0px;
  margin-bottom: 0px;
}
.chosenNrHolders {
  color: #1b81b1;
  text-align: center;
  font-weight: bold;
  border: 2px solid #1b81b1;
}
.btn-get-started {
  width: 200% !important;
  float: right;
}
.accountopening-start-title {
  text-align: left;
  text-wrap: normal;
  height: auto !important;
  font-size: 22px;
  color: #1b81b1;
  position: initial;
  font-weight: bold;
  font-family: "Gotham Book", "Open Sans", "Arial", "sans-serif" !important;
}
.success-panel {
  width: 100%;
  /*float:left;*/
  background-color: #01a14b;
  color: white;
  font-size: 18px;
  height: 50px;
  margin-top: 220px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  float: none;
  text-align: center;
}
/*.success-panel {
    width:100%;
    float:left;
    background-color:rgb(1,161, 75);
    color:white; 
    font-size:18px;
    height:50px;
    margin-bottom:40px;
    margin-left: -100%;
    width:300%;
    padding-left:100%;
}*/
.success-mark {
  color: white;
  text-align: center;
  font-weight: initial;
  border: 1px solid white;
  width: 40px;
  height: 40px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  display: inline-block;
  /*float: left;*/
  font-size: 26px;
  /*margin-right: 20px;*/
  margin-top: 3px !important;
  float: none;
  margin-right: 20px;
}
.contentSuccessMsg {
  /*padding:12px;*/
  font-weight: bold;
  color: white;
  display: inline-block;
  float: none;
}
.btn-get-Login {
  background-color: #fcb040;
  background-image: url('images/icon/icon_condicoesseguranca.png') !important;
  background-repeat: no-repeat !important;
  background-position: -5px -10px !important;
  padding-left: 25px;
}
.btn-get-login-container {
  margin-left: auto;
  margin-right: auto;
  float: none !important;
}
.ActivityTabs_Wrapper {
  cursor: default !important;
  margin-bottom: 3px;
  padding: 0 0px;
}
A.ActivityTabs {
  display: block;
  background-color: #EAEAEA;
  /*float: left;*/
  border-top: 1px solid #EAEAEA;
  border-left: 1px solid #EAEAEA;
  border-right: 1px solid #EAEAEA;
  cursor: pointer;
  height: 62px;
}
A.ActivityTabs:hover {
  background-color: #d5d5d5;
}
A.ActivityTabs.selected {
  background-color: #fff;
}
A.ActivityTabs DIV.ActivityTabs_Title {
  /*background-color: #3AA0D1;*/
  font-size: 16px;
  /*line-height: 50px;*/
  padding: 0 5px;
  color: #3aa0d1;
  font-weight: bold;
}
.smalltabs a.ActivityTabs div.ActivityTabs_Title {
  padding: 0 10px;
}
A.ActivityTabs:hover DIV.ActivityTabs_Title,
A.ActivityTabs.selected DIV.ActivityTabs_Title {
  color: #3aa0d1;
}
A.ActivityTabs DIV.ActivityTabs_Body,
A.ActivityTabs:hover DIV.ActivityTabs_Body,
A.ActivityTabs.selected DIV.ActivityTabs_Body {
  height: 100px;
}
A.ActivityTabs.All DIV.ActivityTabs_Icon_Configuration {
  background-image: url('images/user-icon2.jpg');
  background-repeat: no-repeat !important;
  background-position: 0px 2px !important;
  padding-bottom: 3px;
  /*padding-left: 50px;
    width:40px;*/
  padding-top: 10px;
  height: 40px;
}
A.ActivityTabs.All DIV.EnrolmentTabs_Icon_Configuration {
  padding-bottom: 3px;
  padding-top: 10px;
  height: 40px;
}
.smalltabs a.ActivityTabs div.ActivityTabs_Icon {
  width: 40px;
}
.lblHolder {
  padding-left: 30px;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}
.lblCustomer {
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}
.accountopening-ib-password-panel {
  display: inline-block;
  margin-bottom: 20px;
}
.accountopening-ib-password-panel .icon-locked {
  margin-top: 6px !important;
}
.accountopening-ib-panel-image {
  width: 20%;
  padding: 0px;
}
.accountopening-ib-panel-label {
  width: 70%;
  padding-top: 3px;
  padding-left: 0px;
}
.accountopening-ib-element {
  list-style: none;
  padding: 0px;
}
.accountopening-ib-title {
  text-align: left;
  text-wrap: normal;
  display: inline-block;
  height: auto !important;
  font-size: 17px;
  color: #1b81b1;
  position: initial;
  font-family: "Gotham Book", "Open Sans", "Arial", "sans-serif" !important;
  margin: 5px 5px 5px 0px;
}
.accountopening-ib-content {
  font-size: 13px;
  color: #949494;
  display: inline-block;
  text-align: left;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  font-family: "Gotham Book", "Open Sans", "Arial", "sans-serif";
}
.accountopening-summary-title {
  text-align: left;
  text-wrap: normal;
  display: inline-block;
  height: auto !important;
  font-size: 17px;
  color: #1b81b1;
  position: initial;
  font-weight: bold;
  font-family: "Gotham Book", "Open Sans", "Arial", "sans-serif" !important;
}
.accountopening-summary-title-text {
  text-wrap: normal;
  font-size: 16px;
  color: #878787;
  position: initial;
}
.accountopening-summary-edit-btn {
  float: right;
  background-image: url('images/empresas/ico_edit_30.png');
  width: 30px;
  height: 30px;
}
.accountopening-edit-icon {
  background-image: url('/Content/images/empresas/ico_edit_30.png');
  width: 30px;
  height: 30px;
  display: inline-block;
  position: absolute;
  margin-top: -3px;
}
.accountopening-edit-icon-blank {
  width: 30px;
  height: 30px;
  display: inline-block;
  margin-top: -14px;
}
.accountopening-summary-title-panel {
  height: 30px;
  margin-bottom: 5px;
}
.accountopening-tab-background {
  padding: 0px 0px 15px 0px !important;
  height: 62px;
}
.accountopening-tab-summary-background {
  height: 80px;
}
.accountopening-tab-background ul {
  margin: 0px auto;
  display: block;
  overflow: hidden;
  max-width: 100%;
}
.accountopening-tab-background ul li {
  padding: 0px;
  list-style: none;
  float: left;
  display: block;
  /*margin-right: 10%;*/
}
.accountopening-tab-background ul li:last-child {
  margin: 0px;
}
.accountopening-tab-background ul li a {
  /*width: 90px;*/
  background-color: #EAEAEA;
  text-align: center;
  color: #0173a7;
  display: block;
  font-family: "Gotham Light", 'Open Sans', sans-serif;
  font-size: 14px;
  outline: medium none;
  padding: 10px 0px 0px 10px;
  z-index: 2;
  position: relative;
}
.accountopening-tab-background ul li a:hover {
  color: #0173a7;
}
.accountopening-tab-background ul li .accountopening-tab-active {
  color: #0ab6c8 !important;
}
.accountopening-tab-background ul li a.accountopening-tab {
  background: url('images/products/ico_products_operations_available.png') no-repeat scroll center top transparent;
}
.accountopening-tab-background ul li a.accountopening-tab:hover {
  background: url('images/products/ico_products_operations_available_hover.png') no-repeat scroll center top transparent;
}
.accountopening-tab-background ul li .accountopening-tab.accountopening-tab-active {
  background: url('images/products/ico_products_operations_available_selected.png') no-repeat scroll center top transparent !important;
}
.accountopening-steps {
  padding-bottom: 5px;
}
.accountopening-steps ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}
.accountopening-steps .step {
  color: #fff;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 20px 15px;
  background: #337ab7;
  /* Old browsers */
  background: -moz-linear-gradient(left, #337ab7 0%, #0174a8 15%, #0ab2c7 48%, #0ab2c7 52%, #0aaec5 55%, #0174a8 86%, #337ab7 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #337ab7), color-stop(15%, #0174a8), color-stop(48%, #0ab2c7), color-stop(52%, #0ab2c7), color-stop(55%, #0aaec5), color-stop(86%, #0174a8), color-stop(100%, #337ab7));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #337ab7 0%, #0174a8 15%, #0ab2c7 48%, #0ab2c7 52%, #0aaec5 55%, #0174a8 86%, #337ab7 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #337ab7 0%, #0174a8 15%, #0ab2c7 48%, #0ab2c7 52%, #0aaec5 55%, #0174a8 86%, #337ab7 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #337ab7 0%, #0174a8 15%, #0ab2c7 48%, #0ab2c7 52%, #0aaec5 55%, #0174a8 86%, #337ab7 100%);
  /* IE10+ */
  background: linear-gradient(to right, #337ab7 0%, #0174a8 15%, #0ab2c7 48%, #0ab2c7 52%, #0aaec5 55%, #0174a8 86%, #337ab7 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#337ab7, endColorstr=#337ab7, GradientType=1);
  /* IE6-9 */
}
.accountopening-steps .step-disabled {
  background: #b0b0b0 !important;
  cursor: default !important;
}
.accountopening-steps .step-disabled + .accountopening-separator {
  background: #b0b0b0 !important;
  cursor: default !important;
}
.accountopening-steps .step-selected + .accountopening-separator {
  background: #b0b0b0 !important;
  cursor: default !important;
}
.accountopening-steps .step > span {
  padding-left: 50px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.accountopening-steps .step:hover {
  color: #fff;
  cursor: pointer;
}
.accountopening-steps .step-selected span {
  background-image: url("images/icon/ico_arrow_accounts_list.png");
  background-repeat: no-repeat;
  background-position: 5px 2px;
  padding-top: 12px;
  padding-bottom: 12px;
}
.accountopening-steps .step:last-of-type {
  border-bottom: none;
}
.accountopening-steps .step-previous:hover {
  background-color: rgba(255, 250, 250, 0.4) !important;
}
.accountopening-steps-disabled {
  background: #b0b0b0 !important;
  cursor: default;
}
.accountopening-steps-disabled ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}
.accountopening-steps-disabled .step {
  color: #fff;
  margin: 15px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 12px 15px;
  padding-left: 0px;
}
.accountopening-steps-disabled .accountopening-separator {
  background: #b0b0b0 !important;
}
.accountopening-steps-disabled .step > span {
  padding-left: 50px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.accountopening-separator {
  background: linear-gradient(to right, #337ab7 0%, #0174a8 15%, #0ab2c7 48%, #0ab2c7 52%, #0aaec5 55%, #0174a8 86%, #337ab7 100%);
}
.accountopening-separator-container {
  background-color: white;
  height: 1px;
  margin-left: 22px;
  margin-right: 22px;
}
.accountopening-field-summary-last {
  margin-bottom: 0px !important;
}
.accountopening-panel-end {
  margin-top: 20px;
  margin-right: 10px;
}
.accountopening-subtitle-label {
  font-size: 15px;
  color: #1b81b1;
  font-weight: bold;
  font-family: "Gotham Book", "Open Sans", "Arial", "sans-serif" !important;
}
.checklist-mark {
  color: white;
  text-align: center;
  font-weight: bold;
  border: 2px solid white;
  width: 45px;
  height: 45px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  display: inline-block;
  float: left;
  font-size: 30px;
  margin-right: 20px;
  margin-top: 3px;
}
.accountopening-document-pdf-image {
  float: left;
  background-image: url('images/icon/ic_export_pdf.png');
  width: 40px;
  height: 40px;
  display: inline-block;
}
.accountopening-document-title {
  display: inline-block;
  margin-top: 10px;
  margin-left: 10px;
}
.accountopening-document-label {
  font-size: 16px;
  color: #1b81b1;
  font-family: "Gotham Book", "Open Sans", "Arial", "sans-serif" !important;
  display: block;
  margin-bottom: 5px;
  cursor: pointer;
}
.accountopening-document-description {
  font-size: 15px;
  color: #a1a1a1;
  font-family: "Gotham Book", "Open Sans", "Arial", "sans-serif" !important;
  display: block;
}
.accountopening-document-table {
  width: 100%;
}
.accountopening-document-panel {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
}
.accountopening-document-table tr {
  border-bottom: 1px solid rgba(148, 148, 148, 0.24);
}
.accountopening-document-table tr:first-child {
  border-bottom: none;
}
.accountopening-document-header-label {
  color: rgba(169, 167, 167, 0.68);
  padding-left: 26px;
  font-size: 13px;
}
.accountopening-document-table-pdf-image {
  float: right;
  margin-right: 16px;
  cursor: pointer;
}
.accountopening-documents-confirm-panel {
  margin-top: 20px;
}
.accountopening-documents-confirm-label {
  color: #6F6F6F;
  display: inline-block;
  font-size: 15px;
  font-weight: bold;
  margin-left: 10px;
  margin-top: 8px;
}
.accountopening-documents-confirm-choosen {
  width: 35px;
  height: 35px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  display: inline-block;
  float: left;
  color: #1b81b1;
  text-align: center;
  font-weight: bold;
  border: 2px solid #1b81b1;
  font-size: 22px;
  cursor: pointer;
}
.accountopening-stepcontrol-confirm {
  width: 35px;
  height: 35px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  float: left;
  color: #ffffff;
  text-align: center;
  border: 1px solid #ffffff;
  font-size: 23px;
  margin-left: 5px;
}
.accountopening-stepcontrol-confirm-text {
  display: inline-block;
  padding-top: 8px;
  padding-left: 10px !important;
}
.accountopening-radiopanel-center .centerField-wrapper {
  width: 65%;
}
.accountopening-field-description {
  font-size: 15px;
  color: rgba(99, 99, 99, 0.83);
  display: block;
  text-align: justify;
  margin: 10px 10px 10px;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  font-family: "Gotham Book", "Open Sans", "Arial", "sans-serif";
}
/*.contract-element{
    background-image:none !important;
}
.contract-element a{
   padding-left: 20px !important;
}*/
.aliasname {
  font-size: larger;
  font-weight: bold;
  color: black;
}
.accountopening-end-aliasname {
  font-weight: bold;
  color: black;
}
.field select.has-error,
.field select.error {
  border: solid 1px #ededed;
  -webkit-box-shadow: 0px 0px 8px #D24627;
  -moz-box-shadow: 0px 0px 8px #D24627;
  box-shadow: 0px 0px 8px #D24627;
}
.field .input-control label.has-error,
.field .input-control label.error {
  color: #D24627;
  font-size: 11px;
  font-weight: normal;
  text-align: left;
  width: 170%;
  margin: 5px 0px;
  margin-bottom: 0px;
}
.lblWayProsising {
  display: inline-block;
  font-size: 13px;
  font-weight: bold;
  color: #a1a1a1;
  margin-top: 5px;
  padding-left: 5px;
}
.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}
.divLess {
  display: inline;
  font-size: 55px;
  font-weight: bold;
  color: #0174A8;
  margin-top: -35px;
  cursor: pointer;
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
}
.divMore {
  display: inline;
  font-size: 55px;
  font-weight: bold;
  color: #0174A8;
  margin-top: -35px;
  cursor: pointer;
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
}
.errorLabel {
  color: #D24627;
  padding: 7px 7px 0 10px;
  font-size: 13px;
}
.accountopening-ib-password-panel .passfield label {
  width: 100%;
}
/*------------TO REVIEW THIS CODE-------*/
.register {
  margin: 25px 0;
}
.register .content-message.metro.col-lg-8 {
  margin: 0 0 25px 0;
  padding: 0;
  position: relative;
  top: 0 !important;
  width: 100%;
}
.register .content-message.metro.col-lg-8:after {
  clear: both;
  content: "";
  display: block;
}
.register .content-message.metro.col-lg-8 div.alert-warning_v3 {
  margin: 0 0 25px 0;
  padding: 0;
  position: relative;
  top: 0 !important;
  width: 100%;
}
.register .field > label:first-of-type {
  color: #0174a8;
  width: auto;
}
.register .panel-enrol-title {
  color: #0174a8;
  font-size: 20px;
}
.register .main-title-control {
  color: #0174a8;
  font-size: 28px;
  font-weight: bold;
}
.register .panel-login-inputs {
  border: solid 1px #eaeaea;
  margin: 0px 0;
  padding: 15px;
}
.register .panel-login-inputs .field {
  height: auto;
  margin-bottom: 20px;
}
.register .panel-login-inputs > p:first-of-type {
  font-weight: bold;
  margin-bottom: 0px;
}
.register .field input[type=email] {
  border: solid 1px #ededed;
  font-family: "Gotham Light", 'Open Sans', sans-serif;
  font-size: 14px;
  padding: 8px;
  width: 100%;
}
.register .field input[type=tel] {
  border: solid 1px #ededed;
  font-family: "Gotham Light", 'Open Sans', sans-serif;
  font-size: 14px;
  padding: 8px;
  width: 100%;
}
.register .register-steps {
  background: -moz-linear-gradient(left, #0173a7 0%, #0174a8 15%, #0ab2c7 48%, #0ab2c7 52%, #0aaec5 55%, #0174a8 86%, #0173a7 100%);
  background: -ms-linear-gradient(left, #0173a7 0%, #0174a8 15%, #0ab2c7 48%, #0ab2c7 52%, #0aaec5 55%, #0174a8 86%, #0173a7 100%);
  background: -o-linear-gradient(left, #0173a7 0%, #0174a8 15%, #0ab2c7 48%, #0ab2c7 52%, #0aaec5 55%, #0174a8 86%, #0173a7 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #0173a7), color-stop(15%, #0174a8), color-stop(48%, #0ab2c7), color-stop(52%, #0ab2c7), color-stop(55%, #0aaec5), color-stop(86%, #0174a8), color-stop(100%, #0173a7));
  background: -webkit-linear-gradient(left, #0173a7 0%, #0174a8 15%, #0ab2c7 48%, #0ab2c7 52%, #0aaec5 55%, #0174a8 86%, #0173a7 100%);
  background: #0173a7;
  background: linear-gradient(to right, #0173a7 0%, #0174a8 15%, #0ab2c7 48%, #0ab2c7 52%, #0aaec5 55%, #0174a8 86%, #0173a7 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@color1', endColorstr='@color1', GradientType=1);
  padding-bottom: 5px;
  padding-top: 10px;
}
.register .register-steps ul {
  list-style-type: none;
  margin: 0px;
  overflow: hidden;
  padding: 0px;
}
.register .register-steps .step {
  border-bottom: solid 1px #ffffff;
  color: #ffffff;
  margin: 15px;
  padding: 15px 15px;
  padding-left: 0px;
}
.register .register-steps .step:hover {
  color: #ffffff;
  cursor: pointer;
}
.register .register-steps .step:last-of-type {
  border-bottom: none;
}
.register .register-steps .step > span {
  overflow: hidden;
  padding-left: 50px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.register .register-steps .step-selected span {
  background-image: url("images/icon/ico_arrow_accounts_list.png");
  background-position: 5px 2px;
  background-repeat: no-repeat;
  padding-bottom: 12px;
  padding-top: 12px;
}
.register .state-empty {
  background-image: url("images/icon/ico_empty.png");
  background-position: 0px 10px;
  background-repeat: no-repeat;
  display: inline-block;
  height: 60px;
  width: 40px;
}
.register .state-success {
  background-image: url("images/icon/ico_success.png");
  background-position: 0px 10px;
  background-repeat: no-repeat;
  display: inline-block;
  height: 60px;
  width: 40px;
}
.register .detail {
  background-image: url("images/icon/ico_regist_details.png");
  background-position: 0px 10px;
  background-repeat: no-repeat;
  display: inline-block;
  height: 60px;
  width: 40px;
}
.register .print {
  background-image: url("images/icon/ico_regist_print.png");
  background-position: 0px 10px;
  background-repeat: no-repeat;
  display: inline-block;
  height: 60px;
  width: 40px;
}
.register .enrollment-bord {
  padding: 10px 0px;
}
.register .enrollment-bord strong {
  color: #0174a8;
  display: block;
}
.register .file-name {
  color: #0174a8 !important;
  font-size: 14px !important;
}
.register .documents-title {
  color: #0174a8;
  font-weight: bold;
}
.register .documents-item {
  font-size: 11px;
}
.register .drop {
  padding: 10px;
  width: 100%;
}
.register .upload {
  margin-left: 0px;
}
.register .photoPanel > label {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px 5px 5px 5px;
  cursor: pointer;
}
.register .photoPanel > label > span {
  color: #cccccc;
  display: inline-block;
  left: 30%;
  position: absolute;
  top: 65%;
}
.register .register-help {
  background-color: #f3f2f2;
  margin-top: 50px;
  padding: 0px 10px;
}
.register .register-help .help-item {
  border-bottom: solid 1px #dddada;
  padding-bottom: 15px;
}
.register .register-help .help-item:last-of-type {
  border-bottom: none;
}
.register .register-help .help-item .register-phone {
  display: block;
  font-size: 24px;
}
.register .register-help .help-item .register-text {
  display: block;
  font-size: 12px;
}
.register .register-help .help-item .register-chat {
  display: block;
  font-size: 16px;
}
.register .register-help .help-item > h3 {
  color: #0174a8;
  font-size: 20px;
  padding-bottom: 0px;
  padding-top: 0px;
}
.register .register-help > h2 {
  border-bottom: solid 1px #dddada;
  color: #0174a8;
  font-size: 28px;
  padding-bottom: 10px;
  padding-top: 10px;
}
.register .enrollment-contract {
  border-bottom: solid 1px #dddada;
  padding-bottom: 20px;
}
.register .enrollment-contract a {
  background-image: url("images/operations/transfers_old.png");
  background-position: -10px -15px;
  background-repeat: no-repeat;
  display: block;
  margin-top: 10px;
  padding-left: 40px;
  text-decoration: none;
}
.register-title {
  color: #0174a8;
  font-weight: bold;
}
.register > div {
  margin-top: 25px;
}