@model eBankit.Middleware.Ui.Web.Monitoring.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
    Layout = "~/Views/Shared/_Login.cshtml";
}

<!-- begin #page-container -->
<div id="page-container" class="fade in">
    <!-- begin login -->
    <div class="login login-v2 animated fadeIn" style="background-color: #292d2e !important" data-pageload-addclass="animated fadeIn">
        <!-- begin brand -->
        <div class="login-header" style="padding: 0 !important">

            <div class="brand">
                <div class="parent">
                    <div class="img">
                        <img src="~/Content/img/ebankit.png" />
                    </div>
                    <div class="text">
                        eBankit
                        <small>Omnichannel Service Bus Monitoring</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="login login-v2 animated fadeIn" style="background-color: #292d2e !important" data-pageload-addclass="animated fadeIn">
            <div class="login-content">
                @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                    @Html.AntiForgeryToken()
                    <h4 style="color:white;">Password recovery. Enter your email.</h4>
                    <hr />
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="form-group m-b-20">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control input-lg", @placeholder = "Email" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                    <div class="login-buttons">
                        <input type="submit" class="btn btn-success btn-block btn-lg" value="Email Link" />
                    </div>
                }
            </div>
        </div>
    </div>
<!-- end page container -->
