<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<connectionStrings>
    <add name="umbracoDbDSN" connectionString="__constring.EbankitPublishing__" providerName="System.Data.SqlClient"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <appSettings>
    <add key="owin:AutomaticAppStartup" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
	<system.web>
	  <machineKey  decryption="AES"  decryptionKey="4ED538405B7BE775C6835D27659121D943418A650F0D3944"  validation="HMACSHA256" validationKey="7F594215DAE92EAB4B7D1D02DA4DAECD44870B66C7CFDA5911666B8B9485F495A31654C593B5716820B05332A052925CDC47ACD394C69F1FE077E42F49296F67" xdt:Transform="Replace"/>
    <customErrors mode="RemoteOnly" xdt:Transform="Replace"/>
		<compilation xdt:Transform="RemoveAttributes(debug)" />
    <authentication mode="Forms" xdt:Transform="Replace">
      <forms name="yourAuthCookie" cookieless="UseCookies" loginUrl="login.aspx" requireSSL="true" protection="All" path="/" timeout="2880"/>
    </authentication>
    <httpCookies httpOnlyCookies="true" requireSSL="true" xdt:Transform="Insert"/>
	</system.web>
  <system.webServer>
    <security>
      <requestFiltering allowDoubleEscaping="false" xdt:Transform="SetAttributes(allowDoubleEscaping)">
        <verbs xdt:Transform="Insert">
          <add verb="TRACE" allowed="false"/>
        </verbs>
      </requestFiltering>
    </security>
  </system.webServer>
	<system.serviceModel>
		<client xdt:Transform="Replace">
			<endpoint address="__appsettings.eBankit.Services.GenericContentService__"    binding="basicHttpBinding" bindingConfiguration="WCFServiceBinding"   contract="GenericContents.IGenericContents"   name="IGenericContents"   xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
			<endpoint address="__appsettings.eBankit.Services.GenericContentJsonService__"    binding="basicHttpBinding" bindingConfiguration="WCFServiceBinding"   contract="GenericContentsJson.GenericContentsJson"   name="GenericContentsJson"   xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
		</client>
		<services xdt:Transform="Insert">
			<service name="ebankIT.Publishing.Web.Services.GenericContentsJson" behaviorConfiguration="ebankIT.Publishing.Interfaces.IGenericContents">
				<endpoint address="" binding="webHttpBinding" bindingConfiguration="webHttpTransportSecurity" behaviorConfiguration="web"  contract="ebankIT.Publishing.Web.Services.GenericContentsJson" />
			</service>
			<service name="ebankIT.Publishing.Web.Services.GenericContents" behaviorConfiguration="ebankIT.Publishing.Interfaces.IGenericContents">
				<endpoint address="" binding="basicHttpBinding" contract="ebankIT.Publishing.Interfaces.IGenericContents" />
			</service>
		</services>
		<bindings>
			<basicHttpBinding xdt:Transform="Replace">
				<binding maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="9999524288" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="999916384" maxArrayLength="999916384" maxBytesPerRead="999916384" maxNameTableCharCount="999916384" />
					<security mode="Transport"/>
				</binding>
				<binding name="WCFServiceBinding" maxBufferSize="999916384" maxReceivedMessageSize="999916384" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="9999524288" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="999916384" maxArrayLength="999916384" maxBytesPerRead="999916384" maxNameTableCharCount="999916384" />
					<security mode="Transport"/>
				</binding>
			</basicHttpBinding>
			<webHttpBinding xdt:Transform="Insert">
				<binding name="webHttpTransportSecurity">
					<security mode="Transport" />
				</binding>
			</webHttpBinding>
		</bindings>
	</system.serviceModel>
</configuration>