<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.webServer>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" forwardWindowsAuthToken="true" startupTimeLimit="3600" requestTimeout="23:00:00">
      <environmentVariables>
        <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
      </environmentVariables>
    </aspNetCore>
    <httpProtocol  xdt:Transform="InsertIfMissing">
      <customHeaders >
        <remove name="X-AspNet-Version" />
        <remove name="X-AspNetMvc-Version" />
        <remove name="X-Powered-By" />
        <remove name="X-Xss-Protection" />
        <add name="X-Xss-Protection" value="1; mode=block"></add>
        <add name="X-Powered-By" value="ebankIT | Omnichannel Innovation" />
      </customHeaders>
    </httpProtocol>
    <httpProtocol  xdt:Transform="Replace">
      <customHeaders >
        <remove name="X-AspNet-Version" />
        <remove name="X-AspNetMvc-Version" />
        <remove name="X-Powered-By" />
        <remove name="X-Xss-Protection" />
        <add name="X-Xss-Protection" value="1; mode=block"></add>
        <add name="X-Powered-By" value="ebankIT | Omnichannel Innovation" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>