<?xml version="1.0" encoding="utf-8"?>
<!-- $Header: /WebServices/ITS.GPM.WebServices/Web.config 23    16/02/06 17:14  $ -->
<configuration>
	<configSections>
		<section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
		<section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
		<section name="AlertsProvider" type="eBankit.LIB.Module.Alerts.Provider.AlertsProviderConfiguration, eBankit.LIB.Module.Alerts" allowDefinition="Everywhere" />
		<sectionGroup name="ITS">
			<sectionGroup name="SDC">
				<section name="methodInstrumentation" type="ITS.SDC.BusinessInterface.Common.Services.MethodInstrumentationSectionHandler, ITS.SDC.BusinessInterface.Common" />
			</sectionGroup>
		</sectionGroup>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="ITS.GPM.DataAccess.PT.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<AlertsProvider defaultProvider="FirstProvider">
		<providers>
			<add name="FirstProvider" type="eBankit.LIB.Module.Alerts.Provider.AlertsServicesProvider, eBankit.LIB.Module.Alerts" description="this came from config" />
		</providers>
	</AlertsProvider>
	<loggingConfiguration name="Logging Application Block" tracingEnabled="true" defaultCategory="" logWarningsWhenNoCategoriesMatch="true">
		<listeners>
			<add fileName="C:\Log\EbankitMembership\EbankitMembership.log" rollSizeKB="15000" timeStampPattern="yyyy-MM-dd" rollFileExistsBehavior="Increment" rollInterval="Week" formatter="Text Formatter" header="" footer="" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" traceOutputOptions="None" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="Rolling Flat File Trace Listener" />
		</listeners>
		<formatters>
			<add template="====================&#xA;&#xA;{timestamp} - {severity} - {title}&#xA;--------------------&#xA;ActivityId: [{property(ActivityId)}]&#xA;ProcessId: [{processId}]&#xA;ThreadId: [{win32ThreadId}]&#xA;---&#xA;{message}&#xA;---&#xA;{dictionary({key}: {value}&#xA;)}&#xA;" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="Text Formatter" />
		</formatters>
		<logFilters>
			<add categoryFilterMode="AllowAllExceptDenied" type="Microsoft.Practices.EnterpriseLibrary.Logging.Filters.CategoryFilter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="Category Filter" />
			<add enabled="true" type="Microsoft.Practices.EnterpriseLibrary.Logging.Filters.LogEnabledFilter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="LogEnabled Filter" />
		</logFilters>
		<categorySources>
			<add switchValue="Verbose" name="Debug">
				<listeners>
					<add name="Rolling Flat File Trace Listener" />
				</listeners>
			</add>
			<add switchValue="Error" name="Error">
				<listeners>
					<add name="Rolling Flat File Trace Listener" />
				</listeners>
			</add>
			<add switchValue="Critical" name="Fatal">
				<listeners>
					<add name="Rolling Flat File Trace Listener" />
				</listeners>
			</add>
			<add switchValue="Information" name="Info">
				<listeners>
					<add name="Rolling Flat File Trace Listener" />
				</listeners>
			</add>
			<add switchValue="Warning" name="Warn">
				<listeners>
					<add name="Rolling Flat File Trace Listener" />
				</listeners>
			</add>
		</categorySources>
		<specialSources>
			<allEvents switchValue="All" name="All Events" />
			<notProcessed switchValue="All" name="Unprocessed Category" />
			<errors switchValue="All" name="Logging Errors &amp; Warnings" />
		</specialSources>
	</loggingConfiguration>
	<dataConfiguration defaultDatabase="rel70_EbankitMembership">
		<providerMappings>
			<add databaseType="Microsoft.Practices.EnterpriseLibrary.Data.Sql.SqlDatabase, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="System.Data.SqlClient" />
		</providerMappings>
	</dataConfiguration>
	<system.web>
		<!--  DYNAMIC DEBUG COMPILATION
          Set compilation debug="true" to enable ASPX debugging.  Otherwise, setting this value to
          false will improve runtime performance of this application. 
          Set compilation debug="true" to insert debugging symbols (.pdb information)
          into the compiled page. Because this creates a larger file that executes
          more slowly, you should set this value to true only when debugging and to
          false at all other times. For more information, refer to the documentation about
          debugging ASP.NET files.
    -->
		<compilation debug="true" targetFramework="4.8" />
		<!--  CUSTOM ERROR MESSAGES
          Set customErrors mode="On" or "RemoteOnly" to enable custom error messages, "Off" to disable. 
          Add <error> tags for each of the errors you want to handle.

          "On" Always display custom (friendly) messages.
          "Off" Always display detailed ASP.NET error information.
          "RemoteOnly" Display custom (friendly) messages only to users not running 
           on the local Web server. This setting is recommended for security purposes, so 
           that you do not display application detail information to remote clients.
    -->
		<customErrors mode="Off" />
		<!--  AUTHENTICATION 
          This section sets the authentication policies of the application. Possible modes are "Windows", 
          "Forms", "Passport" and "None"

          "None" No authentication is performed. 
          "Windows" IIS performs authentication (Basic, Digest, or Integrated Windows) according to 
           its settings for the application. Anonymous access must be disabled in IIS. 
          "Forms" You provide a custom form (Web page) for users to enter their credentials, and then 
           you authenticate them in your application. A user credential token is stored in a cookie.
          "Passport" Authentication is performed via a centralized authentication service provided
           by Microsoft that offers a single logon and core profile services for member sites.
    -->
		<authentication mode="None" />
		<!--  AUTHORIZATION 
          This section sets the authorization policies of the application. You can allow or deny access
          to application resources by user or role. Wildcards: "*" mean everyone, "?" means anonymous 
          (unauthenticated) users.
    -->
		<authorization>
			<!-- Allow all users -->
			<allow users="*" />
			<!--  <allow     users="[comma separated list of users]"
                             roles="[comma separated list of roles]"/>
                  <deny      users="[comma separated list of users]"
                             roles="[comma separated list of roles]"/>
            -->
		</authorization>
		<!--  APPLICATION-LEVEL TRACE LOGGING
          Application-level tracing enables trace log output for every page within an application. 
          Set trace enabled="true" to enable application trace logging.  If pageOutput="true", the
          trace information will be displayed at the bottom of each page.  Otherwise, you can view the 
          application trace log by browsing the "trace.axd" page from your web application
          root. 
    -->
		<trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true" />
		<!--  SESSION STATE SETTINGS
          By default ASP.NET uses cookies to identify which requests belong to a particular session. 
          If cookies are not available, a session can be tracked by adding a session identifier to the URL. 
          To disable cookies, set sessionState cookieless="true".
            mode="Off|InProc|StateServer|SQLServer"
    -->
		<sessionState mode="Off" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="20" />
		<!--  GLOBALIZATION
          This section sets the globalization settings of the application. 
    -->
		<globalization requestEncoding="utf-8" responseEncoding="utf-8" />
		<!--
          httpRuntime Attributes:
           minFreeThreads="[count]" - minimum number of free thread to allow execution of new requests
           minLocalRequestFreeThreads="[count]" - minimum number of free thread to allow execution of new local requests
           
           Set minFreeThreads to 88 times the number of CPUs. Default=8
           Set minLocalRequestFreeThreads to 76 times the number of CPUs. Default=4
           
           maxRequestLength=1048576 KB => 1 GB 
           executionTimeout=600 s => 10 m
        -->
		<httpRuntime targetFramework="4.8" minFreeThreads="88" minLocalRequestFreeThreads="76" enableVersionHeader="false" maxRequestLength="1048576" executionTimeout="600" shutdownTimeout="600" />
		<xhtmlConformance mode="Legacy" />
		<pages controlRenderingCompatibilityVersion="4.0" />
	</system.web>
	<!-- ******************************** -->
	<!-- ****  System .NET settings  **** -->
	<!-- ******************************** -->
	<!-- Set maxconnection to 12 times the number of CPUs. Default=2 -->
	<system.net>
		<connectionManagement>
			<!-- ITS.saf.sifs should be added to the hosts file to be resolved to 192.168.20.4 -->
			<add address="prd.saf.sibs" maxconnection="10" />
			<add address="*" maxconnection="12" />
		</connectionManagement>
	</system.net>
	<!-- ##################################################### -->
	<!-- #### appSettings file                            #### -->
	<!-- ##################################################### -->
	<appSettings>
		<add key="Monitoring.Logging.Enable" value="true" />
		<add key="Monitoring.Fallback.Application.Name" value="MEMBERSHIP" />
		<add key="GPM.Settings.Server.Id" value="ITS.GPM.WebServices.PT" />
		<!--server name for identification of web instance and config settings-->
		<add key="GPM.Settings.RefreshTimeout" value="3600" />
		<!--seconds until config settings refresh-->
		<add key="ITS.GPM.Database.Authentication.AssemblyType" value="eBankit.Middleware.Data.GPM.DataAccess.PT.AuthenticationPT, eBankit.Middleware.Data.GPM.DataAccess.PT, 1.0.0.0, Culture=neutral" />
		<add key="ITS.GPM.Database.UserServices.AssemblyType" value="eBankit.Middleware.Data.GPM.DataAccess.PT.UserServicesPT, eBankit.Middleware.Data.GPM.DataAccess.PT, 1.0.0.0, Culture=neutral" />
		<add key="Database.Debug" value="0" />
		<add key="Trace.Enabled" value="true" />
		<add key="ITS.GPM.FEnc" value="~/ebankit.config" />
		<add key="SIBSServerURI" value="https://spp.saf.sibs:555/SAFServer/IssuerMsgHandler" />
		<add key="ITS.GPM.WebServices.ICBS.Demo" value="false" />
		<add key="ITS.GPM.WebServices.ICBS.Location.AX" value="http://localhost:8280" />
		<add key="ITS.GPM.WebServices.ICBS.Location.CR" value="http://localhost:8280" />
		<add key="ITS.GPM.WebServices.ICBS.Location.RT" value="http://localhost:8280" />
		<add key="ITS.GPM.WebServices.ICBS.Location.US" value="http://localhost:8280" />
		<add key="ITS.GPM.WebServices.ICBS.Location.CIF" value="http://localhost:8280" />
		<add key="ITS.GPM.WebServices.ICBS.Location.WO" value="http://localhost:8280" />
		<add key="ITS.GPM.WebServices.ICBS.Timeout" value="60000" />
		<add key="ITS.GPM.WebServices.ICBS.System" value="IPASSROM" />
		<add key="ITS.GPM.WebServices.ICBS.SystemToken" value="" />
		<add key="Security.Hash.Argon.MemoryFactor" value="8" />
		<add key="Security.Hash.Argon.OperationsFactor" value="1.0" />
		<!--DELETE THESE KEYS-->
		<add key="MAX_FAILURES_BEFORE_LOCK" value="3" />
		<add key="TIME_FRAME_PERIOD_SECONDS" value="10" />
		<add key="TIME_FRAME_PERIODS_WINDOW" value="2" />
		<add key="VASCO_ParmCount" value="19" />
		<add key="VASCO_ITimeWindow" value="30" />
		<add key="VASCO_STimeWindow" value="24" />
		<add key="VASCO_DiagLevel" value="0" />
		<add key="VASCO_GMTAdjust" value="0" />
		<add key="VASCO_CheckChallenge" value="0" />
		<add key="VASCO_IThreshold" value="3" />
		<add key="VASCO_SThreshold" value="1" />
		<add key="VASCO_ChkInactDays" value="0" />
		<add key="VASCO_DeriveVector" value="0" />
		<add key="VASCO_SyncWindow" value="6" />
		<add key="VASCO_OnLineSG" value="1" />
		<add key="VASCO_EventWindow" value="30" />
		<add key="VASCO_HSMSlotId" value="0" />
		<add key="VASCO_StorageKeyId" value="0" />
		<add key="VASCO_TransportKeyId" value="0x7FFFFF" />
		<add key="VASCO_StorageDeriveKey1" value="0" />
		<add key="VASCO_StorageDeriveKey2" value="0" />
		<add key="VASCO_StorageDeriveKey3" value="0" />
		<add key="VASCO_StorageDeriveKey4" value="0" />
		<add key="VASCO_DPX_TMP_FILE_STORADGE_PATH" value=".\DPX" />
		<!--END DELETE-->
		<!--Ensure that new User Access Codes are correctly stored in DB, specially when they have a user uniqueness configuration.
        If false, there's the need to update the UAC with the correct values after creation.
        Default: false (compatibility version < 3.0)
    -->
		<add key="SC.Membership.UAC.EnsureCoherence" value="true" />
		<!--To generate Predefined Codes, an AccessCodeType is required. 
        By default the AccessCodeType is set to MultiChannel (5).
        (Compatibility version >= 3.1)
    -->
		<add key="SC.PREDEFINEDCODES.AccessCodeTypeId" value="5" />
	</appSettings>
	<!-- ##################################################### -->
	<!-- #### ITS SECTION GROUP                           #### -->
	<!-- ##################################################### -->
	<ITS>
		<SDC>
			<methodInstrumentation mode="off">
				<!--
         - sets Perfromance Counter alias for each WebMethod we want to instrument
         - mode turns instrumentation on/off
         - the following specific counters must exist for each instrumented method:
            [alias].ExecutionTotal
            [alias].ExecutionSuccess
            [alias].ExecutionException
            [alias].ExecutionTime
         - method names must be fully qualified and unique independently of the categories
         -->
				<category name="ITS.GPM.WebServices">
					<method mode="off" name="ITS.GPM.WebServices.Name1" alias="Name1" />
					<method mode="off" name="ITS.GPM.WebServices.Name2" alias="Name2" />
				</category>
			</methodInstrumentation>
		</SDC>
	</ITS>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true">
			<remove name="WebDAVModule" />
		</modules>
		<handlers>
			<remove name="WebDAV" />
		</handlers>
		<security>
			<requestFiltering>
				<verbs>
					<add verb="PUT" allowed="true" />
					<add verb="DELETE" allowed="true" />
				</verbs>
			</requestFiltering>
		</security>
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="CacheManager.Core" publicKeyToken="5b450b4fb65c4cdb" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.2.0.0" newVersion="1.2.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Configuration.Abstractions" publicKeyToken="adb9793829ddae60" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Configuration" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>