.CorpSearchText input[type=text],
.CorpSearchText input[type=password],
.CorpSearchText select,
.CorpSearchText textarea {
  font-size: 13px !important;
  color: #636363 !important;
  width: 300px !important;
  min-height: 30px;
}
.CorpComboBox {
  float: right;
  margin-bottom: 5px !important;
  width: 109px;
  color: #636363;
  font-family: "Open Sans";
  font-size: 16px;
  letter-spacing: 0;
  line-height: 22px;
  height: 40px;
}
.CorpComboBox input[type=text],
.CorpComboBox input[type=password],
.CorpComboBox select,
.CorpComboBox textarea {
  border: none !important;
  font-size: 13px !important;
  color: #636363 !important;
  min-height: 30px;
  padding-left: 18px;
}
.CorpComboBox select option {
  padding-top: 3px;
}
.CorpAlwaysVisible {
  white-space: normal !important;
}
.CorpFormatCurrency {
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 300;
  letter-spacing: -0.02px;
  line-height: 27px;
  margin-top: -10px;
  margin-left: 5px;
  color: #555555;
}
.CorpExpandButton {
  background-image: url("/content/themes/ebankit/images/icon/ico_arrow_dropdown.png");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  height: 20px;
  margin-bottom: 20px;
  margin-top: 10px;
}
.box-blue .scroll-item-top h4 {
  height: 32px;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 19px;
}
.scroll-item-top h5 {
  color: #555555;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 300;
  letter-spacing: -0.01px;
  line-height: 19px;
}
.scroll-item-value h3 {
  margin-top: -10px;
  font-family: "Open Sans";
  font-size: 20px;
  letter-spacing: 0;
  line-height: 27px;
}
#scroolContent {
  height: 120px;
  position: relative;
  display: block;
  overflow: hidden !important;
}
#scroolContent .contentBoxCorporate {
  background-color: #fff;
  position: relative;
  float: left;
  display: block;
  height: 100px;
  width: 280px;
  padding: 10px;
  margin: 5px !important;
  margin-right: 20px;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  overflow: hidden;
}
#scroolContent .contentBoxCorporate:hover,
#scroolContent .contentBoxCorporate.selected {
  /* background-color: #cef4ff; */
  cursor: pointer;
  border-bottom: 3px solid #555555 !important;
  background-color: rgba(239, 123, 48, 0.2);
}
#scroolContent .contentBoxCorporate img {
  margin-bottom: 10px;
}
#scroolContent .contentBoxCorporate p {
  font-size: 10px;
}
.scrollContainerAccountsCorpGroup {
  padding: 20px 20px 0px 20px;
  background-color: #eeeeee;
}
#scroolContentCorporateOthersAccounts {
  position: relative;
  display: block;
  overflow: hidden !important;
  padding-bottom: 40px;
}
#scroolContentCorporateOthersAccounts .contentBoxCorporateOthersAccounts {
  background-color: #fff;
  position: relative;
  float: left;
  display: block;
  height: 80px;
  width: 280px;
  padding: 10px;
  margin: 5px !important;
  margin-right: 20px;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
#scroolContentCorporateOthersAccounts .contentBoxCorporateOthersAccounts:hover,
#scroolContentCorporate .contentBoxCorporateOthersAccounts.selected {
  /* background-color: #cef4ff; */
  cursor: pointer;
  border-bottom: 3px solid #555555 !important;
  background-color: rgba(239, 123, 48, 0.2);
}
#scroolContentCorporateOthersAccounts .contentBoxCorporateOthersAccounts img {
  margin-bottom: 10px;
}
#scroolContentCorporateOthersAccounts .contentBoxCorporateOthersAccounts p {
  font-size: 10px;
}
.box-blue .scroll-item-top h4.CorpAccGroupName {
  color: #FFFFFF;
  background-color: #555555;
  font-family: "Open Sans";
  font-size: 12px;
  letter-spacing: 0;
  line-height: 17px;
  width: max-content;
  border-radius: 2px;
  height: auto;
  font-weight: normal;
  padding: 2px 3px 2px 2px;
}
.scroll-item-top h5.CorpAccName {
  color: #555555;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 19px;
  margin-top: 5px;
  margin-bottom: -10px;
}
.scroll-item-top h3.CorpAccBalance {
  color: #555555;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 300;
  letter-spacing: -0.01px;
  line-height: 19px;
}
.ddlCorpGroups {
  width: 100%;
  height: 40px;
}
.selectedGroup {
  float: right;
  padding: 0;
}
.selectedLBGroup {
  float: left;
  height: inherit;
  vertical-align: middle;
  display: flex;
  align-items: center;
  padding-left: 0;
}
.CorpSearchText {
  display: flex;
  box-sizing: border-box;
  height: 40px;
  background-color: #FFFFFF;
  width: auto;
  border: 1px solid #E2E2E2 !important;
  float: left;
  margin-bottom: 5px;
}
.CorpSearchText .clearIcon {
  background: url("/content/themes/ebankit/images/icon/Corporate/corp_search_clear.png") no-repeat center;
  border: none;
  padding: 0px 13px;
  margin-right: 5px;
}
.CorpSearchText .searchIcon {
  background: url("/content/themes/ebankit/images/icon/Corporate/ico_menu_search_20x20.png") no-repeat center;
  border: none;
  padding: 0px 13px;
  margin-right: 5px;
}
.CorpSearchText input {
  box-sizing: border-box;
  height: 35px;
  width: 370px;
  border: none;
  background-color: #FFFFFF;
  font-size: 16px;
  outline: none;
  padding-left: 10px;
  color: #555555;
}
.OthersAccountsShow {
  display: flex;
  flex-flow: wrap;
  margin-top: 20px;
  margin-bottom: 20px;
}
.LblAccount {
  float: left;
  padding-top: 20px;
  color: #636363;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: bold !important;
  letter-spacing: 0;
  line-height: 22px;
}
.multiselect-option.shared > a {
  background-image: url("../images/icon/action/corporate/action-shared.png");
  background-repeat: no-repeat;
  background-position: center;
  background-position-x: calc(100% - 30px);
}
.multiselect-item .cbcontainerCorpGroup > label {
  width: 100%;
  height: 100%;
}
.open > .dropdown-menu.accountGroups {
  margin-top: 0px !important;
}
.multiselect-item .cbcontainerCorpGroup > label {
  margin-left: 0;
  font-size: 16px;
  display: table;
}
.multiselect-native-select .btn-group .multiselect:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 5px;
  outline-offset: -2px;
}
.multiselect-option.default .multiselect-item.multiselect-value:focus {
  outline: auto;
}
.sharedIcon {
  display: block;
  width: 30px;
  height: 30px;
  float: right;
  margin-right: 20px;
  margin-top: -40px;
}
.group-name {
  max-height: 50px;
}
.multiselect-item.multiselect-group.group-name > a {
  line-height: 50px !important;
  max-height: 50px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
.multiselect-container > li.multiselect-group label {
  padding: 0px 20px 0px 20px;
}