.schedule .hidden-panel .field_v2 {
  margin-top: 20px;
}
.schedule .schedule-type {
  position: relative;
}
.schedule .schedule-type .cd-select {
  width: 50% !important;
}
.schedule .schedule-type-details {
  position: absolute;
  top: -20px;
  left: 65%;
}
@media screen and (max-width: 767px) {
  .schedule .schedule-type-details {
    left: 55%;
  }
  .schedule .schedule-type-details .label-wrapper {
    min-height: 35px;
  }
}
.schedule .schedule-field input[type=text] {
  width: 100px !important;
}
.schedule .schedule-field-info {
  position: relative;
}
.schedule .schedule-field-info .info {
  position: absolute;
  margin-top: -30px;
  left: 150px;
}
@media screen and (max-width: 767px) {
  .schedule .schedule-field-info .info {
    left: 110px;
  }
}