<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - eBankit.FE.Simulators</title>

    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/lib/jquery-ui/jquery-ui.min.css" />

    <environment include="Development">
        <link href="~/fonts/fonts.css" rel="stylesheet">
        <link rel="stylesheet" href="~/css/simulator-skin.css" />
        <link rel="stylesheet" href="~/css/homepage-skin.css" />
    </environment>
    <environment exclude="Development">
        <link href="~/fonts/fonts.min.css" rel="stylesheet">
        <link rel="stylesheet" href="~/css/simulator-skin.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/homepage-skin.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>

    <environment include="Development">
        <script src="~/js/ebankitPlugins/loadingSpin.js" asp-append-version="true"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/ebankitPlugins/loadingSpin.min.js" asp-append-version="true"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
    <div class="s-wrapper">
        <!-- Header -->
        @await Html.PartialAsync("~/Views/Shared/Header/_TopBar.cshtml")
        <!-- Body -->
        <div id="simulatorBodyId" class="s-body-main">
            <input type="hidden" id="loadingSpin-text" value="Loading data..." />
            @RenderBody()
        </div>
        <!-- Footer -->
        @await Html.PartialAsync("~/Views/Shared/Footer/_Footer.cshtml")
    </div>

    @await Html.PartialAsync("~/Views/Shared/_CookieConsentPartial.cshtml")
</body>
</html>


