<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="ServiceCatalogProvider" type="eBankit.Common.Sites.ServiceCatalogProviderConfiguration, eBankit.Common.Sites" allowDefinition="Everywhere" />
    <section name="CoreProvider" type="eBankit.Common.Sites.CoreProviderConfiguration, eBankit.Common.Sites" allowDefinition="Everywhere" />
    <section name="ContactProvider" type="eBankit.Common.Sites.ContactProviderConfiguration, eBankit.Common.Sites" allowDefinition="Everywhere" />
    <section name="ContractManagementProvider" type="eBankit.Common.Sites.ContractManagementProviderConfiguration, eBankit.Common.Providers.BackOffice" allowDefinition="Everywhere" />
    <section name="EbankitProvider" type="eBankit.Middleware.Providers.Ebankit.EbankitProviderConfiguration, eBankit.Middleware.Providers.Ebankit" allowDefinition="Everywhere" />
    <section name="CoreBankingProvider" type="eBankit.Middleware.Providers.Ebankit.CoreBankingProviderConfiguration,eBankit.Middleware.Providers.CoreBankingProvider" allowDefinition="Everywhere" />
    <section name="OnlineRegistrationProvider" type="eBankit.Middleware.Providers.Registration.OnlineRegistrationProviderConfiguration, eBankit.Middleware.Providers.OnlineRegistration" allowDefinition="Everywhere" />
    <sectionGroup name="core">
      <section name="CoreConfiguration" type="eBankit.Common.Sites.CoreSitesSettings, eBankit.Common.Sites" allowDefinition="Everywhere" />
    </sectionGroup>
    <section name="WorkflowDefinitions" type="eBankit.Middleware.Core.Workflow.Engine.WorkflowDefinitionSettings, eBankit.Middleware.Core.Workflow" allowDefinition="Everywhere" />
    <section name="AlertsProvider" type="eBankit.LIB.Module.Alerts.Provider.AlertsProviderConfiguration, eBankit.LIB.Module.Alerts" allowDefinition="Everywhere" />
  </configSections>
  <!-- Configuration of workflows-->
  <WorkflowDefinitions>
    <workflows>
      <!--Store and Forward transactional workflow [THE NAME MUST MATCH THE [WorkflowSetting] System.TransactionalSFWorkflow]-->
      <add name="TRANSACTIONSF" type="eBankit.Middleware.Core.Workflow.WorkflowDefinitions.TransactionSF_V1_0, eBankit.Middleware.Core.Workflow" />
      <!--<add name="NEWCLIENT_V1_0" type="eBankit.Middleware.Core.Workflow.Onboarding.NewClient_V1_0, eBankit.Middleware.Core.Workflow" />-->
      <!--<add name="NEWBANKACCOUNT_V1_0" type="eBankit.Middleware.Core.Workflow.Onboarding.NewBankAccount_V1_0, eBankit.Middleware.Core.Workflow" />-->
    </workflows>
  </WorkflowDefinitions>
  <OnlineRegistrationProvider defaultProvider="FirstProvider">
    <providers>
      <add name="FirstProvider" type="eBankit.Middleware.Providers.Registration.OnlineRegistrationServiceProvider, eBankit.Middleware.Providers.OnlineRegistration" description="this came from config" />
    </providers>
  </OnlineRegistrationProvider>
  <CoreProvider defaultProvider="FirstProvider">
    <providers>
      <add name="FirstProvider" type="eBankit.Common.Providers.ServicesCoreProvider, eBankit.Common.Providers" description="this came from config" />
    </providers>
  </CoreProvider>
  <ContractManagementProvider defaultProvider="FirstProvider">
    <providers>
      <add name="FirstProvider" type="eBankit.Common.Providers.ServicesContractManagementProvider, eBankit.Common.Providers.BackOffice" description="this came from config" />
    </providers>
  </ContractManagementProvider>
  <ContactProvider defaultProvider="FirstProvider">
    <providers>
      <add name="FirstProvider" type="eBankit.Common.Providers.ServicesContactProvider, eBankit.Common.Providers" description="this came from config" />
    </providers>
  </ContactProvider>
  <EbankitProvider defaultProvider="FirstProvider">
    <providers>
      <add name="FirstProvider" type="eBankit.Middleware.Providers.Ebankit.DefaultEbankitProvider, eBankit.Middleware.Providers.Ebankit" description="this came from config" />
    </providers>
  </EbankitProvider>
  <CoreBankingProvider defaultProvider="FirstProvider">
    <providers>
      <add name="FirstProvider" type="eBankit.Middleware.Transactions.eBankit.Provider.EBankitProvider, eBankit.Middleware.Transactions.Ebankit" description="this came from config" />
    </providers>
  </CoreBankingProvider>
  <AlertsProvider defaultProvider="FirstProvider">
    <providers>
      <add name="FirstProvider" type="eBankit.LIB.Module.Alerts.Provider.AlertsServicesProvider, eBankit.LIB.Module.Alerts" description="this came from config" />
    </providers>
  </AlertsProvider>
  <appSettings>
    <add key="TransactionalSFWorkflow" value="TRANSACTIONSF" />
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="TransactionRecoveryModeSimulation" value="false" />
    <add key="TransactionSaveModeSimulation" value="true" />
    <add key="DLIService" value="http://websimulation.rel70.local/WebserviceSimulation/" />
    <add key="resourcesPath" value="/eBankit.Sites/eBankit.UI.Web.InternetBanking/Resources/" />
    <add key="usecache" value="true" />
    <add key="cacheAbsoluteExpiration" value="5" />
    <add key="cacheSlidingExpiration" value="0" />
    <add key="dataWaitTime" value="0" />
    <add key="CacheUpdateFileName" value="c:\temp" />
    <add key="ShowRealServiceError" value="true" />
    <!-- IDENTITY CLAIMS CONFIGURATION -->
    <add key="Identity.Enabled" value="true" />
    <add key="Identity.TokenAuthorityUrl" value="http://ids-internal.rel70.local" />
    <add key="Identity.AllowedIssuers" value="http://ids.rel70.local" />
    <add key="Identity.ClientId" value="WorkFlow" />
    <add key="Identity.ClientSecret" value="4e6d534a-a80b-4b78-8be0-bc5068becad1" />
    <add key="Identity.Scope" value="Scope.Internal Scope.Trusted" />
    <add key="Identity.RequireHTTPS" value="false" />
    <add key="owin:AutomaticAppStartup" value="true" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.8" />
    <!-- WARNING to change maxRequestLength(KB) the attrib maxAllowedContentLength(B) in system.webserver requestLimits has to be changed too. -->
    <!-- maxRequestLength=1048576 KB => 1 GB | executionTimeout=600 s => 10 m -->
    <httpRuntime enableVersionHeader="false" maxRequestLength="5120" executionTimeout="600" shutdownTimeout="600" delayNotificationTimeout="600" />
    <sessionState mode="Off" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="GenericBinding" closeTimeout="00:02:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:03:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
        </binding>
      </basicHttpBinding>
      <customBinding>
        <binding name="DliWsSoap12Http">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <services>
      <service name="eBankit.Middleware.BackOffice.WorkflowService">
        <clear />
        <!-- define endpoint with your binding and the name of the binding configuration that you have defined just above -->
        <endpoint binding="basicHttpBinding" bindingConfiguration="GenericBinding" contract="eBankit.Middleware.BackOffice.IWorkflowService" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="WebDAVModule" />
    </modules>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
    <handlers>
      <remove name="WebDAV" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <security>
      <requestFiltering>
        <verbs>
          <add verb="PUT" allowed="true" />
          <add verb="DELETE" allowed="true" />
        </verbs>
        <!-- WARNING to change maxAllowedContentLength(B) the attrib maxRequestLength(KB) in system.web httpRuntimehas to be changed too. -->
        <requestLimits maxAllowedContentLength="5242880" />
      </requestFiltering>
    </security>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <!--<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
      <bindingRedirect oldVersion="0.0.0.0-6.0.0.5" newVersion="6.0.0.5" />-->
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CacheManager.Core" publicKeyToken="5b450b4fb65c4cdb" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.0" newVersion="1.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.Abstractions" publicKeyToken="adb9793829ddae60" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.FileProviders.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNetCore.Authorization" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNetCore.Hosting.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNetCore.Http.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNetCore.Routing" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNetCore.Routing.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNetCore.Mvc.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Net.Http.Headers" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Options" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNetCore.Http.Features" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyModel" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNetCore.WebUtilities" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNetCore.Http.Extensions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>