<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <customErrors mode="RemoteOnly" xdt:Transform="Replace"/>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  <appSettings>
    <add key="Identity.TokenAuthorityUrl"                                             value="__appsettings.Identity.TokenAuthorityUrl.Internal__"                                              xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Identity.AllowedIssuers"                                                value="__appsettings.Identity.AllowedIssuers__"                                                 xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
	<add key="Identity.RequireHTTPS"                                                  value="__appsettings.Identity.RequireHTTPS__"                                                   xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="DLIService"                                                  			  value="__appsettings.DLIService__"                                                   			  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <system.webServer>
    <directoryBrowse enabled="true" xdt:Transform="Replace"/>
  </system.webServer>
</configuration>