<div class="cookieOpacityLayer"></div>
<div id="CookieDisclaimer" class="cookieDisclaimer">
    <div class="s-container">
        <div class="cookieDescription">
            We use cookies to improve the user experience.
            You need to accept the cookies to access the ebankIT Simulators Portal.
        </div>
        <div class="cookieLearnMore">
            <a href="https://www.ebankit.com/cookies" target="_blank">Learn more</a>
        </div>
        <div class="cookieAccept">
            <input type="button" class="cookieAcceptButton" value="Accept cookies" onclick="return closeCookieDisclaimer();" />
        </div>
    </div>
</div>