<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="CoreProvider" type="eBankit.Common.Sites.CoreProviderConfiguration, eBankit.Common.Sites" allowDefinition="MachineToApplication" />
		<sectionGroup name="core">
			<section name="CoreConfiguration" type="eBankit.Common.Sites.CoreSitesSettings, eBankit.Common.Sites" allowDefinition="MachineToApplication" />
		</sectionGroup>
		<section name="ProcessManagerProvider" type="eBankit.Common.Providers.Workflow.ProcessManagerProviderConfiguration, eBankit.Common.Providers.Workflow" allowDefinition="Everywhere" />
		<section name="HelpdeskProvider" type="eBankit.Middleware.Helpdesk.Providers.HelpdeskProviderConfiguration, eBankit.Middleware.Helpdesk.Providers" allowDefinition="MachineToApplication" />
		<section name="AlertsProvider" type="eBankit.LIB.Module.Alerts.Provider.AlertsProviderConfiguration, eBankit.LIB.Module.Alerts" allowDefinition="Everywhere" />
		<section name="SocialBankingProvider" type="eBankit.LIB.Module.SocialBanking.Provider.SocialBankingProviderConfiguration, eBankit.LIB.Module.SocialBanking" allowDefinition="Everywhere" />
		<section name="CommandCentreProvider" type="eBankit.LIB.Module.CommandCentre.Provider.CommandCentreProviderConfiguration, eBankit.LIB.Module.CommandCentre" allowDefinition="MachineToApplication" />
	</configSections>
	<CoreProvider defaultProvider="FirstProvider">
		<providers>
			<add name="FirstProvider" type="eBankit.Common.Providers.ServicesCoreProvider, eBankit.Common.Providers" description="this came from config" />
		</providers>
	</CoreProvider>
	<AlertsProvider defaultProvider="FirstProvider">
		<providers>
			<add name="FirstProvider" type="eBankit.LIB.Module.Alerts.Provider.AlertsServicesProvider, eBankit.LIB.Module.Alerts" description="this came from config" />
		</providers>
	</AlertsProvider>
	<SocialBankingProvider defaultProvider="FirstProvider">
		<providers>
			<add name="FirstProvider" type="eBankit.LIB.Module.SocialBanking.Provider.SocialBankingServicesProvider, eBankit.LIB.Module.SocialBanking" description="this came from config" />
		</providers>
	</SocialBankingProvider>
	<ProcessManagerProvider defaultProvider="FirstProvider">
		<providers>
			<add name="FirstProvider" type="eBankit.Common.Providers.ServicesProcessManagerProvider, eBankit.Common.Providers.Workflow" description="this came from config" />
		</providers>
	</ProcessManagerProvider>
	<HelpdeskProvider defaultProvider="FirstProvider">
		<providers>
			<add name="FirstProvider" type="eBankit.Middleware.Helpdesk.Providers.Services.HelpdeskServicesProvider, eBankit.Middleware.Helpdesk.Providers" description="this came from config" />
		</providers>
	</HelpdeskProvider>
	<CommandCentreProvider defaultProvider="FirstProvider">
		<providers>
			<add name="FirstProvider" type="eBankit.LIB.Module.CommandCentre.Provider.CommandCentreProviderService, eBankit.LIB.Module.CommandCentre" description="this came from config" />
		</providers>
	</CommandCentreProvider>
	<core>
		<CoreConfiguration logFolder="c:\logs\ebankit">
			<!--<profiler mode="LocalOnly"></profiler>-->
			<application appName="INTERNETBANKING" appMode="DEV" title="Ebankit Frontend">
				<externalsignout>
					<item name="SecurityMisys" entity="Misys" type="eBankit.Middleware.Misys.Providers.SecurityMisys, eBankit.Middleware.Misys.Providers" />
				</externalsignout>
				<menus menusPath="/Menus/" fromFile="false">
					<item file="menus" />
				</menus>
				<site translate="true" defaultVariation="pt" rootPath="" logoPath="/Content/images/logo_ebankit_b.png" />
				<resources resourcesPath="/Resources/" fromFile="false">
					<item file="resources" />
				</resources>
			</application>
			<images path="/Content/images/" />
			<email server="mail.itsector.pt" from="geral@ebankit.com" authenticate="true" userName="itsales@itsector.pt" password="007tycoon">
				<!--<mailLogger enabled="true" from="itcore@itsector.pt" to="rui.araujo@itsector.pt" />-->
			</email>
			<exception detailedErrorMessage="false" location="/GenericErrorPage.aspx">
				<ignoreExceptions>
					<exception type="System.Threading.ThreadAbortException" allowOverride="false" />
				</ignoreExceptions>
				<!--<logProviders>
          <provider name="MailLog" type="eBankit.Common.Log.Loggers.MailLogger, eBankit.Common" category="All" minimumSeverity="Warning"/>
          <provider name="ServiceLog" type="eBankit.Common.Log.Loggers.ServiceLogger, eBankit.Common" category="All" minimumSeverity="Info" />
          <provider name="DataBaseLog" type="eBankit.Common.Log.Loggers.DatabaseLogger, eBankit.Common" category="All" minimumSeverity="Info" />
          <provider name="FileLog" type="eBankit.Common.Log.Loggers.FileLogger, eBankit.Common" category="All" minimumSeverity="Info" />
        </logProviders>-->
			</exception>
		</CoreConfiguration>
	</core>
	<appSettings>
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
		<add key="TransactionRecoveryModeSimulation" value="false" />
		<add key="DummyImagesPath" value="/Services/Core/DummyContent/images/" />
		<add key="CacheUpdateFileName" value="c:\temp" />
		<add key="CommandCentreOperationStatus" value="5" />

		<add key="TransactionConfiguration.CacheTimeout" value="60" />
		<add key="TransactionConfiguration.CacheKey" value="_allTransactionConfigurations_" />
		<add key="UseExternalRolesMapping" value="false" />
		<add key="AddInternalRolesToExternalRoles" value="false" />
		<add key="mailServer" value="outlook.office365.com" />
		<add key="mailServerPort" value="25" />
		<add key="mailTimeout" value="10" />
		<add key="mailAuthenticate" value="true" />
		<add key="mailFrom" value="notifies@ebankit.com" />
		<add key="mailUser" value="notifies@ebankit.com" />
		<add key="mailPassword" value="sadsadsad" />
		<add key="mailUserDomain" value="" />
		<add key="mailSSL" value="true" />

		<add key="resourcesPath" value="Resources/" />
		<add key="logoPath" value="/services/core/Content/images/logo_ebankit_b.jpg" />
		<add key="emailLogoPath.Enable" value="true" />
		<add key="usecache" value="true" />
		<add key="cacheAbsoluteExpiration" value="1440" />
		<add key="cacheSlidingExpiration" value="60" />
		<add key="datawaittime" value="2" />
		<add key="clientproof" value="ebankit" />
		<add key="resourceApplicationId" value="7" />
		<!--SETTINGS VARY BY ENVIRONMENT-->
		<add key="ProbeDbUser" value="sa" />
		<add key="ProbeDbPass" value="Portofc1997_" />
		<!-- DIGITAL DOCUMENTS -->
		<add key="DIGITALDOCS.Path" value="c:\ebankit\digitaldocs" />
		<add key="CRMProvider::CacheEnabled" value="true" />
		<add key="HELPDESK.isActive" value="false" />
		<add key="MAX_DEFAULT_MAP_LIST_VALUES_ITERATIONS" value="5" />
	</appSettings>
	<!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
	<system.web>
		<customErrors mode="Off" />
		<compilation debug="true" targetFramework="4.8" />
		<httpRuntime maxRequestLength="10240" />
	</system.web>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true" />
		<!--
To browse web app root directory during debugging, set the value below to true.
Set to false before deployment to avoid disclosing web app folder information.
-->
		<directoryBrowse enabled="true" />
		<handlers>
			<remove name="MonitoringDbHttpHandler" />
			<add name="MonitoringDbHttpHandler" verb="*" path="*.monitor" type="eBankit.Middleware.CoreServices.MonitoringDbHttpHandler, eBankit.Middleware.CoreServices" resourceType="Unspecified" />
		</handlers>
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="CacheManager.Core" publicKeyToken="5b450b4fb65c4cdb" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.2.0.0" newVersion="1.2.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Configuration.Abstractions" publicKeyToken="adb9793829ddae60" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Configuration" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>