.updateBtn {
  color: #fff !important;
  background-color: #1892ae !important;
  padding-top: 7px;
  padding-bottom: 6px;
  text-align: center;
  min-height: 35px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font-size: 1em;
  min-width: 125px;
  max-width: 220px;
  width: 100%;
  margin-left: 30px;
}