#customAccounts .noPadding {
  padding-right: 0px !important;
}
.titleBorderBottom {
  border-bottom: 1px solid #ddd;
}
.rowHeaderAccounts {
  border-bottom: 1px solid #0173a7;
  padding-bottom: 10px;
  padding-top: 10px;
}
.rowAccounts {
  border-bottom: 1px solid #ddd;
  padding-top: 10px;
  padding-bottom: 10px;
  display: table;
}
.noPaddingLeftRight {
  padding-right: 0px !important;
  padding-left: 0px !important;
}
.paddingConsentAccount,
.paddingConsentType,
.paddingConsentDate {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 0px !important;
  padding-left: 0px !important;
}
.colHeader {
  color: #0173a7;
  font-weight: bold !important;
  font-size: 14px;
  text-overflow: ellipsis;
  display: inline-block;
}
.gridRow {
  color: #636363;
  font-weight: normal !important;
  font-size: 14px;
  text-overflow: ellipsis;
  display: table-cell;
  vertical-align: middle;
  float: none;
}
.iconTypeAccountSize {
  height: 40px;
  width: 40px;
  float: none;
  margin-right: 15px;
}
.colHeaderMobile {
  display: none;
}
.btDelete {
  border: 1px solid #0173a7;
  width: auto;
  margin: 15px;
  cursor: pointer;
  padding: 0px;
  text-align: center;
}
.btDelete > a {
  padding: 7px 50px 7px 50px;
  display: inline-block;
}
.btDelete > a span {
  color: #0173a7;
}
.btDeleteContainer {
  width: auto;
  float: right;
}
.tppList {
  display: block;
  float: left;
  margin: 0px !important;
  padding: 0px !important;
  width: 100%;
}
.tppList > li {
  display: block;
  float: left;
  margin: 0px;
  padding: 0px;
  width: 100%;
  list-style: none;
  cursor: auto;
}
.tppMarginTop {
  margin-top: 25px !important;
}
.tppPopupPadding {
  padding: 20px 20px;
  background-color: white;
  text-align: center;
}
.minWidthButton {
  min-width: 250px;
}
#panelMessages {
  z-index: 1;
}
@media (max-width: 576px) {
  #customAccounts .noPadding {
    padding: 0px !important;
  }
  .rowAccounts {
    border-bottom: 1px solid #ddd;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .gridRow {
    color: #636363;
    font-weight: normal !important;
    font-size: 14px;
    text-overflow: ellipsis;
    display: inline-block;
  }
  .titleBorderBottom {
    border-bottom: none;
  }
  .accountDescriptionLabel {
    font-weight: bold !important;
  }
  .colHeaderMobile {
    color: #0173a7;
    font-weight: bold !important;
    font-size: 14px;
    text-overflow: ellipsis;
    display: block;
  }
  .btDelete {
    border: 1px solid #0173a7;
    width: 100%;
    margin: 0px 0px 15px 0px;
    cursor: pointer;
    text-align: center;
  }
  .btDeleteContainer {
    width: 100%;
    float: none;
  }
  .visible-md.visible-lg.visible-sm {
    display: inline !important;
  }
  .paddingConsentAccount {
    padding-top: 10px !important;
    padding-bottom: 0px !important;
  }
  .paddingConsentType {
    padding-right: 0px !important;
    padding-left: 35px !important;
    padding-top: 15px !important;
    padding-bottom: 0px !important;
  }
  .paddingConsentDate {
    padding-right: 0px !important;
    padding-left: 50px !important;
    padding-top: 15px !important;
    padding-bottom: 10px !important;
  }
  .rowAccountMobile:nth-child(even) {
    background-color: white;
  }
  .rowAccountMobile:nth-child(odd) {
    background-color: #eee;
  }
}