<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="CoreProvider" type="eBankit.Common.Sites.CoreProviderConfiguration, eBankit.Common.Sites" allowDefinition="MachineToApplication" />
		<section name="ContactProvider" type="eBankit.Common.Sites.ContactProviderConfiguration, eBankit.Common.Sites" allowDefinition="MachineToApplication" />
		<sectionGroup name="core">
			<section name="CoreConfiguration" type="eBankit.Common.Sites.CoreSitesSettings, eBankit.Common.Sites" allowDefinition="MachineToApplication" />
		</sectionGroup>
		<section name="CoreBankingProvider" type="eBankit.Middleware.Providers.Ebankit.CoreBankingProviderConfiguration,eBankit.Middleware.Providers.CoreBankingProvider" allowDefinition="MachineToApplication" />
		<section name="EbankitInovationProvider" type="eBankit.Middleware.Providers.EbankitInovation.EbankitInovationProviderConfiguration, eBankit.Middleware.Providers.EbankitInovation" allowDefinition="MachineToApplication" />
		<section name="ProcessManagerProvider" type="eBankit.Common.Providers.Workflow.ProcessManagerProviderConfiguration, eBankit.Common.Providers.Workflow" allowDefinition="MachineToApplication" />
		<section name="CRMProvider" type="eBankit.Common.Sites.CRMProviderConfiguration, eBankit.Common.Sites" allowDefinition="MachineToApplication" />
		<section name="ContentProvider" type="eBankit.Common.Sites.ContentProviderConfiguration, eBankit.Common.Sites" allowDefinition="MachineToApplication" />
		<section name="CustomProvider" type="eBankit.Middleware.Providers.CustomProvider.CustomProviderConfiguration, eBankit.Middleware.Providers.CustomProvider" allowDefinition="MachineToApplication" />
		<section name="AlertsProvider" type="eBankit.LIB.Module.Alerts.Provider.AlertsProviderConfiguration, eBankit.LIB.Module.Alerts" allowDefinition="Everywhere" />
		<section name="CommandCentreProvider" type="eBankit.LIB.Module.CommandCentre.Provider.CommandCentreProviderConfiguration, eBankit.LIB.Module.CommandCentre" allowDefinition="MachineToApplication" />
		<section name="ContractManagementProvider" type="eBankit.Common.Sites.ContractManagementProviderConfiguration, eBankit.Common.Providers.BackOffice" allowDefinition="Everywhere" />
		<section name="TemplateProcessorProvider" type="eBankit.Middleware.Provider.TemplateProcessor.TemplateProcessorProviderConfiguration, eBankit.Middleware.Provider.TemplateProcessor" allowDefinition="MachineToApplication" />
	    <section name="CustomCoreBankingProvider" type="Middleware.Providers.CustomCoreBankingProvider.CustomCoreBankingProviderConfiguration, Middleware.Providers.CustomCoreBankingProvider" allowDefinition="MachineToApplication" />
	</configSections>
	<CoreProvider defaultProvider="FirstProvider">
		<providers>
			<add name="FirstProvider" type="eBankit.Common.Providers.ServicesCoreProvider, eBankit.Common.Providers" description="this came from config" />
		</providers>
	</CoreProvider>
	<ContactProvider defaultProvider="FirstProvider">
		<providers>
			<add name="FirstProvider" type="eBankit.Common.Providers.ServicesContactProvider, eBankit.Common.Providers" description="this came from config" />
		</providers>
	</ContactProvider>
	<ContractManagementProvider defaultProvider="FirstProvider">
		<providers>
			<add name="FirstProvider" type="eBankit.Common.Providers.ServicesContractManagementProvider, eBankit.Common.Providers.BackOffice" description="this came from config" />
		</providers>
	</ContractManagementProvider>
	<CoreBankingProvider defaultProvider="FirstProvider">
		<providers>
			<add name="FirstProvider" type="eBankit.Middleware.Transactions.eBankit.Provider.EBankitProvider, eBankit.Middleware.Transactions.Ebankit" description="this came from config" />
			<!--<add name="EquationProvider" type="eBankit.Middleware.Transactions.Equation.Provider.EquationProvider, eBankit.Middleware.Transactions.Equation" description="this came from config" />-->
			<!--<add name="Banka3GProvider" type="eBankit.Middleware.Transactions.Banka3G.Provider.Banka3GProvider, eBankit.Middleware.Transactions.Banka3G" description="this came from config" />-->
		</providers>
	</CoreBankingProvider>
	<EbankitInovationProvider defaultProvider="FirstProvider">
		<providers>
			<add name="FirstProvider" type="eBankit.Middleware.Transactions.EbankitInovation.Provider.InovationProvider, eBankit.Middleware.Transactions.EbankitInovation" description="this came from config" />
		</providers>
	</EbankitInovationProvider>
	<CRMProvider defaultProvider="FirstProvider">
		<providers>
			<add name="FirstProvider" type="eBankit.Common.Providers.ServicesCRMProvider, eBankit.Common.Providers" description="this came from config" />
		</providers>
	</CRMProvider>
	<ContentProvider defaultProvider="FirstProvider">
		<providers>
			<add name="FirstProvider" type="eBankit.Common.Providers.ServicesContentProvider, eBankit.Common.Providers" description="this came from config" />
		</providers>
	</ContentProvider>
	<ProcessManagerProvider defaultProvider="FirstProvider">
		<providers>
			<add name="FirstProvider" type="eBankit.Common.Providers.ServicesProcessManagerProvider, eBankit.Common.Providers.Workflow" description="this came from config" />
		</providers>
	</ProcessManagerProvider>
	<TemplateProcessorProvider defaultProvider="FirstProvider">
		<providers>
			<add name="FirstProvider" type="eBankit.Middleware.Provider.TemplateProcessor.TemplateProcessorProvider, eBankit.Middleware.Provider.TemplateProcessor" description="this came from config" />
		</providers>
	</TemplateProcessorProvider>
	<CustomProvider defaultProvider="FirstProvider">
		<providers>
			<add name="FirstProvider" type="eBankit.Middleware.Transactions.Custom.Provider.CustomProviderImpl, eBankit.Middleware.Transactions.Custom" description="this came from config" />
		</providers>
	</CustomProvider>
	<AlertsProvider defaultProvider="FirstProvider">
		<providers>
			<add name="FirstProvider" type="eBankit.LIB.Module.Alerts.Provider.AlertsServicesProvider, eBankit.LIB.Module.Alerts" description="this came from config" />
		</providers>
	</AlertsProvider>
	<CommandCentreProvider defaultProvider="FirstProvider">
		<providers>
			<add name="FirstProvider" type="eBankit.LIB.Module.CommandCentre.Provider.CommandCentreProviderService, eBankit.LIB.Module.CommandCentre" description="this came from config" />
		</providers>
	</CommandCentreProvider>
	<CustomCoreBankingProvider defaultProvider="FirstProvider">
		<providers>
			<add name="FirstProvider" type="eBankit.Middleware.Transactions.Custom.Provider.CustomProvider, eBankit.Middleware.Transactions.Custom" description="this came from config" />
		</providers>
	</CustomCoreBankingProvider>
	<appSettings>
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
		<add key="CacheUpdateFileName" value="c:\temp" />
		<add key="ShowContentTags" value="false" />

		<add key="usecache" value="true" />
		<add key="cacheAbsoluteExpiration" value="1440" />
		<add key="cacheSlidingExpiration" value="60" />
		<add key="datawaittime" value="2" />
		<add key="resourceApplicationId" value="7" />
		<add key="resourcesPath" value="Resources/" />

		<add key="EquationServiceWebS" value="http://ebkitsrv-vpnang.ebankit.local:7800/Gateway" />
		<add key="clientproof" value="ebankit" />
		<add key="BankaRemoteService" value="http://192.168.16.25:9082/IRC_WS_BB/OP_CALL_SOAP_ENC" />
		<add key="BankaRemoteVersion" value="R23" />
		<add key="BankaRemoteLicenceKey" value="licenseKey" />
		<add key="BankaRemoteLayoutVersion" value="" />
		<add key="BankaRemoteCode" value="9055" />

		<add key="FilterPendingAccounts" value="false" />
		<add key="TransactionExpireDays" value="1" />

		<!--Url para proxys Cortransaction -> Security Center-->

		<!-- DIGITAL DOCUMENTS -->
		<add key="DIGITALDOCS.Path" value="c:\ebankit\digitaldocs" />

		<add key="CRMProvider::CacheEnabled" value="true" />
		<add key="ContentProvider::CacheEnabled" value="true" />
		<add key="CacheEnabled" value="true" />

		<!-- Store and forward sates-->
		<!--
				TimeOut
				UnknownError
				Offline
		-->
		<add key="CoreStoreAndForwardStates" value="Offline;UnknownError" />

		<!-- Command Centre-->
		<add key="CommandCentreOperationStatus" value="5" />
		<add key="CommandCentreRegisterOperation" value="true" />


	</appSettings>
	<system.web>
		<compilation debug="true" targetFramework="4.8" />
	</system.web>
	<system.serviceModel>
		<behaviors>
			<serviceBehaviors>
				<behavior>
					<!-- To avoid disclosing metadata information, set the values below to false before deployment -->
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
					<!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
					<serviceDebug includeExceptionDetailInFaults="true" />
					<serviceAuthorization serviceAuthorizationManagerType="eBankit.Middleware.Common.Service.BaseService, eBankit.Middleware.Common" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<protocolMapping>
			<add binding="basicHttpsBinding" scheme="https" />
		</protocolMapping>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
	</system.serviceModel>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true" />
		<!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
		<directoryBrowse enabled="true" />
	</system.webServer>
	<!--<system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="traceListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData="C:\temp\WFTraces.svclog"/>
        </listeners>
      </source>
    </sources>
  </system.diagnostics>-->
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="CacheManager.Core" publicKeyToken="5b450b4fb65c4cdb" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.2.0.0" newVersion="1.2.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Configuration.Abstractions" publicKeyToken="adb9793829ddae60" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Configuration" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Confluent.Kafka" publicKeyToken="12c514ca49093d1e" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.8.2.0" newVersion="1.8.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>