<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <sessionState mode="Custom" sessionIDManagerType="eBankit.Common.Session.CoreSessionIDManager" customProvider="CoreSessionProvider" cookieless="false" regenerateExpiredSessionId="true" timeout="60" allowCustomSqlDatabase="true" sqlConnectionString="__constring.EbankitSessionManager__" xdt:Transform="SetAttributes">
      <providers>
        <add name="CoreSessionProvider" type="eBankit.Common.Providers.SessionStateProvider.SqlSessionStateStore, eBankit.Common" appSuffix="eBankit" />
      </providers>
    </sessionState>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  <system.webServer>
    <directoryBrowse enabled="true" xdt:Transform="Replace"/>
  </system.webServer>
  <appSettings>
    <add key="eBankit.Services.CoreBaseService" value="__appsettings.eBankit.Services.CoreService__" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="eBankit.Services.ContactBaseService" value="__appsettings.eBankit.Services.ContactService__"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="eBankit.Middleware.Services.TemplateProcessor.TemplateProcessorService" value="__appsettings.eBankit.Services.TemplateProcessorService__"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="eBankit.Middleware.Services.Loans.LoanSimulationService" value="__appsettings.eBankit.Services.LoanSimulationService__"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="eBankit.Services.WorkflowService" value="__appsettings.eBankit.Services.WorkflowService__"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="eBankit.Services.WorkflowServiceRest" value="__appsettings.eBankit.Services.WorkflowServiceRest__"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="defaultVariation" value="__appsettings.Environment.Language__"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>


    <!--Url para proxys Cortransaction -> Security Center-->
    <add key="eBankit.Services.ContactHistory" value="__appsettings.eBankit.Services.ContactHistory__"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="eBankit.Services.AliasOperation" value="__appsettings.eBankit.Services.AliasOperation__" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="eBankit.Services.AliasAuthorization" value="__appsettings.eBankit.Services.AliasAuthorization__"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="eBankit.Services.AliasAuthentication" value="__appsettings.eBankit.Services.AliasAuthentication__"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

  </appSettings>



  <system.serviceModel>
    <client>
      <endpoint address="__appsettings.eBankit.Services.AliasOperation__"  binding="basicHttpBinding" bindingConfiguration="CoreServiceWebServiceBinding" contract="AliasOperation.AliasOperationSoap" name="AliasOperationSoap" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      <endpoint address="__appsettings.eBankit.Services.SdcManagement__" binding="basicHttpBinding" bindingConfiguration="SecurityCenter" contract="SdcManagement.SdcManagementSoap" name="SdcManagementSoap"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      <endpoint address="__appsettings.eBankit.Services.SMSToken__" binding="basicHttpBinding" bindingConfiguration="SecurityCenter" contract="SMSToken.SMSTokenSoap" name="SMSTokenSoap" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      <endpoint address="__appsettings.eBankit.Services.EbankitService__" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEbankitService" contract="EbankitService.IEbankitService" name="BasicHttpBinding_IEbankitService" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </client>
  </system.serviceModel>
</configuration>